
// Размеры и наименования необходимые для @media 
$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    desktop: 1024px,
    widescreen: 1216px,
    fullhd: 1480px
);

$breakpoint-mobile: map-get($breakpoints, mobile);
$breakpoint-tablet: map-get($breakpoints, tablet);
$breakpoint-desktop: map-get($breakpoints, desktop);
$breakpoint-widescreen: map-get($breakpoints, widescreen);
$breakpoint-fullhd: map-get($breakpoints, fullhd);

// Ширина контейнеров на различных устройствах
$container: (
    mobile: 540px,
    tablet: 720px,
    desktop: 960px,
    widescreen: 1152px,
    fullhd: 1344px 
);

$container-mobile-size: map-get($container, mobile);
$container-tablet-size: map-get($container, tablet);
$container-desktop-size: map-get($container, desktop);
$container-widescreen-size: map-get($container, widescreen);
$container-fullhd-size: map-get($container, fullhd);

$colors: (
    accent-strong: #0070FF,
    accent-weak: #EBF4FF,
    
    base-strong: #000000,
    base-weak: #ffffff,

	complement-strong: #8889E2,
	complement-weak: #EEECFD,

	critic-strong: #F74545,
    critic-weak: #FDEDED,

    faint-strong: #8994a6,
	faint-weak: #f6f8fb,
    
    success-strong: #27AE60,
	success-weak: #DEF8E9,

	warning-strong: #F8AE4F,
	warning-weak: #FCEBCF
);

$accent-strong: map-get($colors, accent-strong);
$accent-weak: map-get($colors, accent-weak);
$base-strong: map-get($colors, base-strong);
$base-weak: map-get($colors, base-weak);
$complement: map-get($colors, complement-strong);
$complement-weak: map-get($colors, complement-weak);
$critic-strong: map-get($colors, critic-strong);
$critic-weak: map-get($colors, critic-weak);
$faint-strong: map-get($colors, faint-strong);
$faint-weak: map-get($colors, faint-weak);
$warning-strong: map-get($colors, warning-strong);
$warning-weak: map-get($colors, warning-weak);
$success-strong: map-get($colors, success-strong);
$success-weak: map-get($colors, success-weak);

// Размеры колонок и сдвигов колонок
$column: (
    1: 8.33333%,
    2: 16.66667%,
    3: 25%,
    4: 33.33333%,
    5: 41.66667%,
    6: 50%,
    7: 58.33333%,
    8: 66.66667%,
    9: 75%, 
    10: 83.33333%,
    11: 91.66667%,
    12: 100%
); 

// Шрифты и их размеры 
$fonts: (
    font-family: Аrial,
    font-family-sans-serif: sans-serif,
    font-family-monospace: monospace,
    font-size: 1rem,
    font-style: inherit,
    font-weight: inherit
);

$font-family: map-get($fonts, font-family);
$font-family-sans-serif: $font-family, map-get($fonts, font-family-sans-serif);
$font-family-monospace: map-get($fonts, font-family-monospace);
$font-size:  map-get($fonts, font-size);
$font-style:  map-get($fonts, font-style);
$font-weight:  map-get($fonts, font-weight);

// Массивы для заполнения классов стилей текста
$font-style:(
    italic: italic,
    normal: normal
);
$font-weight: (
    bold: bold,
    normal: normal
);

// Массивы для заполнения классов выравнивания 
$align: (
    baseline: baseline,
    center: center,
    end: end,
    flex-end: flex-end,
    flex-start: flex-start,
    start: start,
    stretch: stretch
);
$justify-content: (
    around: space-around,
    between: space-between,
    center: center,
    end: flex-end,
    start: flex-start
);
$justify-self: (
    center: center,
    end: flex-end,
    start: flex-start
);

// Размеры отступов (общие)
$sizes: (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: .75rem,
    4: 1rem,
    5: 1.25rem,
    auto: auto
);
$default-size: map-get($sizes, 3);
$size-0: map-get($sizes, 0);
$size-1: map-get($sizes, 1);
$size-2: map-get($sizes, 2);
$size-3: map-get($sizes, 3);
$size-4: map-get($sizes, 4);
$size-5: map-get($sizes, 5);

// Размеры margin-padding
$sizes-indents: (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: .75rem,
    4: 1rem,
    5: 1.25rem,
    auto: auto
);

// Переменные компонентов

// бейджи
$badge-padding: (
    top: .25rem,
    right: .5rem,
    bottom: .25rem,
    left: .5rem
);
$badge-padding: map-get($badge-padding, top) map-get($badge-padding, right) map-get($badge-padding, bottom) map-get($badge-padding, left);

$badge-hover-effect: (
    accent-strong: #0064e5,
    
    base-strong: #323232,

	complement-strong: #7a7bcb,

	critic-strong: #de3e3e,

    faint-strong: #7b8595,
    
    success-strong: #239c56,

	warning-strong: #f2ab4e
);

// рамки
$border: 1px solid #dee2e6;
$table-border-color: #dee2e6;

$border-radius-sizes: (
    1: map-get($sizes, 1),
    2: map-get($sizes, 2),
    3: map-get($sizes, 3),
    4: map-get($sizes, 4),
    5: map-get($sizes, 5)
);

// для кнопок и рамок
@mixin rounded {
    border-radius: 50rem;
}

// кнопки
$button-color: (
    accent: map-get($colors, accent-strong),
    
    base: map-get($colors, base-strong),

	complement: map-get($colors, complement-strong),

	critic: map-get($colors, critic-strong),

    faint: map-get($colors, faint-strong),
    
    success: map-get($colors, success-strong),

	warning: map-get($colors, warning-strong)
);

$button-hover-effect: (
    accent: #0064e5,
    
    base: #323232,

	complement: #7a7bcb,

	critic: #de3e3e,

    faint: #7b8595,
    
    success: #239c56,

	warning: #f2ab4e
);

$button-focus-shadow: (
    accent: rgba(0,112,255,.5),
    
    base: rgba(0,0,0,.5),

	complement: rgba(136,137,226,.5),

	critic: rgba(247,69,69,.5),

    faint: rgba(137,148,166,.5),
    
    success: rgba(39,174,96,.5),

	warning: rgba(248,174,79,.5)
);

$line-height: 1.5;

$button-font-size: (
    small: .75rem,
    medium: 1.25rem,
    large: 1.5rem
);

$button-padding: (
    top: .37rem,
    right: .75rem,
    bottom: .37rem,
    left: .75rem
);

$button-padding: map-get($button-padding, top) map-get($button-padding, right) map-get($button-padding, bottom) map-get($button-padding, left);

$button-small-padding: (
    top: .27rem,
    right: .65rem,
    bottom: .27rem,
    left: .65rem
);

$button-small-padding: map-get($button-small-padding, top) map-get($button-small-padding, right) map-get($button-small-padding, bottom) map-get($button-small-padding, left);

// уведомления
$notification-padding: (
    top: 1.25rem,
    right: 2.5rem,
    bottom: 1.25rem,
    left: 1.5rem
);

$notification-padding: map-get($notification-padding, top) map-get($notification-padding, right) map-get($notification-padding, bottom) map-get($notification-padding, left);

$notification-background-color: (
    accent: map-get($colors, accent-weak),
    
    base: map-get($colors, base-weak),

	complement: map-get($colors, complement-weak),

    critic: map-get($colors, critic-weak),

	faint: map-get($colors, faint-weak),
    
	success: map-get($colors, success-weak),

	warning: map-get($colors, warning-weak)
);

$notification-border-color: (
    accent: rgba(0,112,255,.2),
    
    base: rgba(0,0,0,.2),

    complement: rgba(136,137,226,.2),
    
	critic: rgba(247,69,69,.2),


    faint: rgba(137,148,166,.2),

    
    success: rgba(39,174,96,.2),


	warning: rgba(248,174,79,.2)
);

$notification-text-color: (
    accent: map-get($colors, accent-strong),
    
    base: map-get($colors, base-strong),

	complement: map-get($colors, complement-strong),

	critic: map-get($colors, critic-strong),

    faint: map-get($colors, faint-strong),
    
    success: map-get($colors, success-strong),

	warning: map-get($colors, warning-strong)
);

// таблицы
$table-scrolling: (
    mobile: 575.98px,
    tablet: 767.98px,
    desktop: 1023.98px,
    widescreen: 1215.98px,
    fullhd: 1407.98px 
);

// Массив для размера текста заголовков
$header: (
    1: 2.5rem,
    2: 2rem,
    3: 1.75rem,
    4: 1.5rem,
    5: 1.25rem,
    6: 1rem
);

// тени
$box-shadow: (
    1: .3rem,
    2: .5rem,
    3: .7rem,
    4: .9rem,
    5: 1rem
);
$box-shadow-color: rgba(0,0,0,.1);

// Формы 
$file-name-max-width: 15rem;
$form-height: 2.363rem; //соотвутствует высоте кнопок