@charset "UTF-8";
/* Раздел: выравнивание. */
/*
* Классы отвечающие за вертикальное позиционирование всех элементов 
* flex-контейнера. 
*/
.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-start {
  align-items: start;
}

.align-items-stretch {
  align-items: stretch;
}

/*
* Классы отвечающие за вертикальное позиционирование отдельных элементов
* flex-контейнера. 
*/
.align-self-baseline {
  align-self: baseline;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-start {
  align-self: start;
}

.align-self-stretch {
  align-self: stretch;
}

/* 
* Классы отвечающие за горизонтальное выравнивание flex-элементов вдоль главной 
* оси flex-контйнера. 
*/
.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

/* Классы отвечающие за горизонтальное выравнивание всех grid-элементов. */
.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: flex-end;
}

.justify-items-start {
  justify-items: flex-start;
}

/* 
* Горизонтальное выравнивание grid-элементов. 
* Классы отвечающие за горизонтальное выравнивание отдельных grid-элементов. 
*/
.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-start {
  justify-self: flex-start;
}

@media (min-width: 576px) {
  .align-items-mobile-baseline {
    align-items: baseline;
  }

  .align-items-mobile-center {
    align-items: center;
  }

  .align-items-mobile-end {
    align-items: end;
  }

  .align-items-mobile-flex-end {
    align-items: flex-end;
  }

  .align-items-mobile-flex-start {
    align-items: flex-start;
  }

  .align-items-mobile-start {
    align-items: start;
  }

  .align-items-mobile-stretch {
    align-items: stretch;
  }

  .align-self-mobile-baseline {
    align-self: baseline;
  }

  .align-self-mobile-center {
    align-self: center;
  }

  .align-self-mobile-end {
    align-self: end;
  }

  .align-self-mobile-flex-end {
    align-self: flex-end;
  }

  .align-self-mobile-flex-start {
    align-self: flex-start;
  }

  .align-self-mobile-start {
    align-self: start;
  }

  .align-self-mobile-stretch {
    align-self: stretch;
  }

  .justify-items-mobile-center {
    justify-items: center;
  }

  .justify-items-mobile-end {
    justify-items: flex-end;
  }

  .justify-items-mobile-start {
    justify-items: flex-start;
  }

  .justify-content-mobile-around {
    justify-content: space-around;
  }

  .justify-content-mobile-between {
    justify-content: space-between;
  }

  .justify-content-mobile-center {
    justify-content: center;
  }

  .justify-content-mobile-end {
    justify-content: flex-end;
  }

  .justify-content-mobile-start {
    justify-content: flex-start;
  }

  .justify-self-mobile-center {
    justify-self: center;
  }

  .justify-self-mobile-end {
    justify-self: flex-end;
  }

  .justify-self-mobile-start {
    justify-self: flex-start;
  }
}
@media (min-width: 768px) {
  .align-items-tablet-baseline {
    align-items: baseline;
  }

  .align-items-tablet-center {
    align-items: center;
  }

  .align-items-tablet-end {
    align-items: end;
  }

  .align-items-tablet-flex-end {
    align-items: flex-end;
  }

  .align-items-tablet-flex-start {
    align-items: flex-start;
  }

  .align-items-tablet-start {
    align-items: start;
  }

  .align-items-tablet-stretch {
    align-items: stretch;
  }

  .align-self-tablet-baseline {
    align-self: baseline;
  }

  .align-self-tablet-center {
    align-self: center;
  }

  .align-self-tablet-end {
    align-self: end;
  }

  .align-self-tablet-flex-end {
    align-self: flex-end;
  }

  .align-self-tablet-flex-start {
    align-self: flex-start;
  }

  .align-self-tablet-start {
    align-self: start;
  }

  .align-self-tablet-stretch {
    align-self: stretch;
  }

  .justify-items-tablet-center {
    justify-items: center;
  }

  .justify-items-tablet-end {
    justify-items: flex-end;
  }

  .justify-items-tablet-start {
    justify-items: flex-start;
  }

  .justify-content-tablet-around {
    justify-content: space-around;
  }

  .justify-content-tablet-between {
    justify-content: space-between;
  }

  .justify-content-tablet-center {
    justify-content: center;
  }

  .justify-content-tablet-end {
    justify-content: flex-end;
  }

  .justify-content-tablet-start {
    justify-content: flex-start;
  }

  .justify-self-tablet-center {
    justify-self: center;
  }

  .justify-self-tablet-end {
    justify-self: flex-end;
  }

  .justify-self-tablet-start {
    justify-self: flex-start;
  }
}
@media (min-width: 1024px) {
  .align-items-desktop-baseline {
    align-items: baseline;
  }

  .align-items-desktop-center {
    align-items: center;
  }

  .align-items-desktop-end {
    align-items: end;
  }

  .align-items-desktop-flex-end {
    align-items: flex-end;
  }

  .align-items-desktop-flex-start {
    align-items: flex-start;
  }

  .align-items-desktop-start {
    align-items: start;
  }

  .align-items-desktop-stretch {
    align-items: stretch;
  }

  .align-self-desktop-baseline {
    align-self: baseline;
  }

  .align-self-desktop-center {
    align-self: center;
  }

  .align-self-desktop-end {
    align-self: end;
  }

  .align-self-desktop-flex-end {
    align-self: flex-end;
  }

  .align-self-desktop-flex-start {
    align-self: flex-start;
  }

  .align-self-desktop-start {
    align-self: start;
  }

  .align-self-desktop-stretch {
    align-self: stretch;
  }

  .justify-items-desktop-center {
    justify-items: center;
  }

  .justify-items-desktop-end {
    justify-items: flex-end;
  }

  .justify-items-desktop-start {
    justify-items: flex-start;
  }

  .justify-content-desktop-around {
    justify-content: space-around;
  }

  .justify-content-desktop-between {
    justify-content: space-between;
  }

  .justify-content-desktop-center {
    justify-content: center;
  }

  .justify-content-desktop-end {
    justify-content: flex-end;
  }

  .justify-content-desktop-start {
    justify-content: flex-start;
  }

  .justify-self-desktop-center {
    justify-self: center;
  }

  .justify-self-desktop-end {
    justify-self: flex-end;
  }

  .justify-self-desktop-start {
    justify-self: flex-start;
  }
}
@media (min-width: 1216px) {
  .align-items-widescreen-baseline {
    align-items: baseline;
  }

  .align-items-widescreen-center {
    align-items: center;
  }

  .align-items-widescreen-end {
    align-items: end;
  }

  .align-items-widescreen-flex-end {
    align-items: flex-end;
  }

  .align-items-widescreen-flex-start {
    align-items: flex-start;
  }

  .align-items-widescreen-start {
    align-items: start;
  }

  .align-items-widescreen-stretch {
    align-items: stretch;
  }

  .align-self-widescreen-baseline {
    align-self: baseline;
  }

  .align-self-widescreen-center {
    align-self: center;
  }

  .align-self-widescreen-end {
    align-self: end;
  }

  .align-self-widescreen-flex-end {
    align-self: flex-end;
  }

  .align-self-widescreen-flex-start {
    align-self: flex-start;
  }

  .align-self-widescreen-start {
    align-self: start;
  }

  .align-self-widescreen-stretch {
    align-self: stretch;
  }

  .justify-items-widescreen-center {
    justify-items: center;
  }

  .justify-items-widescreen-end {
    justify-items: flex-end;
  }

  .justify-items-widescreen-start {
    justify-items: flex-start;
  }

  .justify-content-widescreen-around {
    justify-content: space-around;
  }

  .justify-content-widescreen-between {
    justify-content: space-between;
  }

  .justify-content-widescreen-center {
    justify-content: center;
  }

  .justify-content-widescreen-end {
    justify-content: flex-end;
  }

  .justify-content-widescreen-start {
    justify-content: flex-start;
  }

  .justify-self-widescreen-center {
    justify-self: center;
  }

  .justify-self-widescreen-end {
    justify-self: flex-end;
  }

  .justify-self-widescreen-start {
    justify-self: flex-start;
  }
}
@media (min-width: 1480px) {
  .align-items-fullhd-baseline {
    align-items: baseline;
  }

  .align-items-fullhd-center {
    align-items: center;
  }

  .align-items-fullhd-end {
    align-items: end;
  }

  .align-items-fullhd-flex-end {
    align-items: flex-end;
  }

  .align-items-fullhd-flex-start {
    align-items: flex-start;
  }

  .align-items-fullhd-start {
    align-items: start;
  }

  .align-items-fullhd-stretch {
    align-items: stretch;
  }

  .align-self-fullhd-baseline {
    align-self: baseline;
  }

  .align-self-fullhd-center {
    align-self: center;
  }

  .align-self-fullhd-end {
    align-self: end;
  }

  .align-self-fullhd-flex-end {
    align-self: flex-end;
  }

  .align-self-fullhd-flex-start {
    align-self: flex-start;
  }

  .align-self-fullhd-start {
    align-self: start;
  }

  .align-self-fullhd-stretch {
    align-self: stretch;
  }

  .justify-items-fullhd-center {
    justify-items: center;
  }

  .justify-items-fullhd-end {
    justify-items: flex-end;
  }

  .justify-items-fullhd-start {
    justify-items: flex-start;
  }

  .justify-content-fullhd-around {
    justify-content: space-around;
  }

  .justify-content-fullhd-between {
    justify-content: space-between;
  }

  .justify-content-fullhd-center {
    justify-content: center;
  }

  .justify-content-fullhd-end {
    justify-content: flex-end;
  }

  .justify-content-fullhd-start {
    justify-content: flex-start;
  }

  .justify-self-fullhd-center {
    justify-self: center;
  }

  .justify-self-fullhd-end {
    justify-self: flex-end;
  }

  .justify-self-fullhd-start {
    justify-self: flex-start;
  }
}
/* Конец раздела: выравнивание. */