@import "variables";

/* Раздел: выравнивание. */

/*
* Классы отвечающие за вертикальное позиционирование всех элементов 
* flex-контейнера. 
*/
@each $name, $value in $align {
    .align-items-#{$name} {
        align-items: $value;
    }
}

/*
* Классы отвечающие за вертикальное позиционирование отдельных элементов
* flex-контейнера. 
*/
@each $name, $value in $align {
    .align-self-#{$name} {
        align-self: $value;
    }
}

/* 
* Классы отвечающие за горизонтальное выравнивание flex-элементов вдоль главной 
* оси flex-контйнера. 
*/
@each $name, $value in $justify-content {
    .justify-content-#{$name} {
        justify-content: $value;
    }
}

/* Классы отвечающие за горизонтальное выравнивание всех grid-элементов. */
@each $name, $value in $justify-self {
    .justify-items-#{$name} {
        justify-items: $value;
    }
}

/* 
* Горизонтальное выравнивание grid-элементов. 
* Классы отвечающие за горизонтальное выравнивание отдельных grid-элементов. 
*/
@each $name, $value in $justify-self {
    .justify-self-#{$name} {
        justify-self: $value;
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $name, $value in $align {
            .align-items-#{$breakpoint}-#{$name} {
                align-items: $value;
            }
        }

        @each $name, $value in $align {
            .align-self-#{$breakpoint}-#{$name} {
                align-self: $value;
            }
        }

        @each $name, $value in $justify-self {
            .justify-items-#{$breakpoint}-#{$name} {
                justify-items: $value;
            }
        }

        @each $name, $value in $justify-content {
            .justify-content-#{$breakpoint}-#{$name} {
                justify-content: $value;
            }
        }

        @each $name, $value in $justify-self {
            .justify-self-#{$breakpoint}-#{$name} {
                justify-self: $value;
            }
        }
    }
    
}
/* Конец раздела: выравнивание. */