@charset "UTF-8";
/* Раздел: цвета. */
/* Классы для определение цвета текса. */
.color-accent-strong {
  color: #0070FF;
}

.color-accent-weak {
  color: #EBF4FF;
}

.color-base-strong {
  color: #000000;
}

.color-base-weak {
  color: #ffffff;
}

.color-complement-strong {
  color: #8889E2;
}

.color-complement-weak {
  color: #EEECFD;
}

.color-critic-strong {
  color: #F74545;
}

.color-critic-weak {
  color: #FDEDED;
}

.color-faint-strong {
  color: #8994a6;
}

.color-faint-weak {
  color: #f6f8fb;
}

.color-success-strong {
  color: #27AE60;
}

.color-success-weak {
  color: #DEF8E9;
}

.color-warning-strong {
  color: #F8AE4F;
}

.color-warning-weak {
  color: #FCEBCF;
}

/* Классы для определение цвета фона. */
.background-accent-strong {
  background-color: #0070FF;
}

.background-accent-weak {
  background-color: #EBF4FF;
}

.background-base-strong {
  background-color: #000000;
}

.background-base-weak {
  background-color: #ffffff;
}

.background-complement-strong {
  background-color: #8889E2;
}

.background-complement-weak {
  background-color: #EEECFD;
}

.background-critic-strong {
  background-color: #F74545;
}

.background-critic-weak {
  background-color: #FDEDED;
}

.background-faint-strong {
  background-color: #8994a6;
}

.background-faint-weak {
  background-color: #f6f8fb;
}

.background-success-strong {
  background-color: #27AE60;
}

.background-success-weak {
  background-color: #DEF8E9;
}

.background-warning-strong {
  background-color: #F8AE4F;
}

.background-warning-weak {
  background-color: #FCEBCF;
}

/* Конец раздела: цвета. */