@import "variables";
/* Раздел: цвета. */
/* Классы для определение цвета текса. */
 @each $name, $value in $colors {
     .color-#{$name} {
         color: $value;
     }
 }

 /* Классы для определение цвета фона. */
@each $name, $value in $colors {
    .background-#{$name} {
        background-color: $value;
    }
}
/* Конец раздела: цвета. */