@import "variables";
/* Раздел: изменение параметра display. */
@each $display in block, flex, inline, inline-block, inline-flex, none {
    .display-#{$display} {
        display: $display;
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $display in block, flex, inline, inline-block, inline-flex, none {
            .display-#{$breakpoint}-#{$display} {
                display: $display;
            }
        }
    } 
}
/* Конец раздела: изменение параметра display. */