@charset "UTF-8";
/* Раздел: изменение параметра display. */
.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-inline-flex {
  display: inline-flex;
}

.display-none {
  display: none;
}

@media (min-width: 576px) {
  .display-mobile-block {
    display: block;
  }

  .display-mobile-flex {
    display: flex;
  }

  .display-mobile-inline {
    display: inline;
  }

  .display-mobile-inline-block {
    display: inline-block;
  }

  .display-mobile-inline-flex {
    display: inline-flex;
  }

  .display-mobile-none {
    display: none;
  }
}
@media (min-width: 768px) {
  .display-tablet-block {
    display: block;
  }

  .display-tablet-flex {
    display: flex;
  }

  .display-tablet-inline {
    display: inline;
  }

  .display-tablet-inline-block {
    display: inline-block;
  }

  .display-tablet-inline-flex {
    display: inline-flex;
  }

  .display-tablet-none {
    display: none;
  }
}
@media (min-width: 1024px) {
  .display-desktop-block {
    display: block;
  }

  .display-desktop-flex {
    display: flex;
  }

  .display-desktop-inline {
    display: inline;
  }

  .display-desktop-inline-block {
    display: inline-block;
  }

  .display-desktop-inline-flex {
    display: inline-flex;
  }

  .display-desktop-none {
    display: none;
  }
}
@media (min-width: 1216px) {
  .display-widescreen-block {
    display: block;
  }

  .display-widescreen-flex {
    display: flex;
  }

  .display-widescreen-inline {
    display: inline;
  }

  .display-widescreen-inline-block {
    display: inline-block;
  }

  .display-widescreen-inline-flex {
    display: inline-flex;
  }

  .display-widescreen-none {
    display: none;
  }
}
@media (min-width: 1480px) {
  .display-fullhd-block {
    display: block;
  }

  .display-fullhd-flex {
    display: flex;
  }

  .display-fullhd-inline {
    display: inline;
  }

  .display-fullhd-inline-block {
    display: inline-block;
  }

  .display-fullhd-inline-flex {
    display: inline-flex;
  }

  .display-fullhd-none {
    display: none;
  }
}
/* Конец раздела: изменение параметра display. */