@charset "UTF-8";
/* Раздел: начертание текста. */
/* Жирный шрифт с курсивным начертанием. */
.font-bold-italic {
  font-style: italic;
  font-weight: bold;
}

/* Обычно и курсивное начертание текста. */
.font-style-italic {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}

/* Нормальная и жирная насыщенность шрифта. */
.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

/* Конец раздела: начертание текста. */