@import "variables";
/* Раздел: начертание текста. */
/* Жирный шрифт с курсивным начертанием. */
.font-bold-italic {
    font-style: italic;
    font-weight: bold;
}

/* Обычно и курсивное начертание текста. */
@each $name, $value in $font-style {
    .font-style-#{$name} {
        font-style: $value;
    }
}

/* Нормальная и жирная насыщенность шрифта. */
@each $name, $value in $font-weight {
    .font-weight-#{$name} {
        font-weight: $value;
    }
}
/* Конец раздела: начертание текста. */