@charset "UTF-8";
/* Раздел: изменение параметра position. */
.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

@media (min-width: 576px) {
  .position-mobile-absolute {
    position: absolute;
  }

  .position-mobile-fixed {
    position: fixed;
  }

  .position-mobile-relative {
    position: relative;
  }

  .position-mobile-static {
    position: static;
  }

  .position-mobile-sticky {
    position: sticky;
  }
}
@media (min-width: 768px) {
  .position-tablet-absolute {
    position: absolute;
  }

  .position-tablet-fixed {
    position: fixed;
  }

  .position-tablet-relative {
    position: relative;
  }

  .position-tablet-static {
    position: static;
  }

  .position-tablet-sticky {
    position: sticky;
  }
}
@media (min-width: 1024px) {
  .position-desktop-absolute {
    position: absolute;
  }

  .position-desktop-fixed {
    position: fixed;
  }

  .position-desktop-relative {
    position: relative;
  }

  .position-desktop-static {
    position: static;
  }

  .position-desktop-sticky {
    position: sticky;
  }
}
@media (min-width: 1216px) {
  .position-widescreen-absolute {
    position: absolute;
  }

  .position-widescreen-fixed {
    position: fixed;
  }

  .position-widescreen-relative {
    position: relative;
  }

  .position-widescreen-static {
    position: static;
  }

  .position-widescreen-sticky {
    position: sticky;
  }
}
@media (min-width: 1480px) {
  .position-fullhd-absolute {
    position: absolute;
  }

  .position-fullhd-fixed {
    position: fixed;
  }

  .position-fullhd-relative {
    position: relative;
  }

  .position-fullhd-static {
    position: static;
  }

  .position-fullhd-sticky {
    position: sticky;
  }
}
/* Конец раздела: изменение параметра position. */