@import "variables";
/* Раздел: изменение параметра position. */
@each $position in absolute, fixed, relative, static, sticky {
    .position-#{$position} {
        position: $position;
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $position in absolute, fixed, relative, static, sticky {
            .position-#{$breakpoint}-#{$position} {
                position: $position;
            }
        }
    } 
}
/* Конец раздела: изменение параметра position. */