@import "variables";

:root {
    @each $name, $value in $breakpoints {
        --breakpoint-#{$name}-size: #{$value};
    }

    @each $name, $value in $container {
        --container-#{$name}-size: #{$value};
    }

    @each $name, $value in $fonts {
        --#{$name}: #{$value};
    }

    @each $size, $value in $sizes {
        --size-#{$size}: #{$value};
    }
    
/* Раздел: переменные базовых цветов. */
    @each $name, $value in $colors {
        --#{$name}: #{$value};
    }
/* Конец раздела: переменные базовых цветов. */    
}
