@charset "UTF-8";
/* Раздел: многострочность. */
/*
* Классы определяющие будет ли flex-контейнер однострочным 
* или многострочным и задающие направление оси.
*/
.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Конец раздела: многострочность. */
/* Раздел: направление главной оси. */
/*
* Классы упрвления направлением главной оси flex-контейнера, 
* вдоль которой распологаются flex-элементы.
*/
.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/* Конец раздела: направление главной оси. */
/* Раздел: изменение порядка колонок. */
/*
* Классы изменения визуального порядка элементов.
* По умолчанию все элементы имеют order: 0.
*/
.flex-order-1 {
  order: 1;
}

.flex-order-2 {
  order: 2;
}

.flex-order-3 {
  order: 3;
}

.flex-order-4 {
  order: 4;
}

.flex-order-5 {
  order: 5;
}

.flex-order-6 {
  order: 6;
}

.flex-order-7 {
  order: 7;
}

.flex-order-8 {
  order: 8;
}

.flex-order-9 {
  order: 9;
}

.flex-order-10 {
  order: 10;
}

.flex-order-11 {
  order: 11;
}

.flex-order-12 {
  order: 12;
}

.flex-order-first {
  order: -1;
}

.flex-order-last {
  order: 13;
}

/* Конец раздела: направление главной оси. */
@media (min-width: 576px) {
  .flex-mobile-wrap {
    flex-wrap: wrap;
  }

  .flex-mobile-nowrap {
    flex-wrap: nowrap;
  }

  .flex-mobile-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-mobile-row {
    flex-direction: row;
  }

  .flex-mobile-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-mobile-column {
    flex-direction: column;
  }

  .flex-mobile-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-order-mobile-first {
    order: -1;
  }

  .flex-order-mobile-last {
    order: 13;
  }

  .flex-order-mobile-1 {
    order: 1;
  }

  .flex-order-mobile-2 {
    order: 2;
  }

  .flex-order-mobile-3 {
    order: 3;
  }

  .flex-order-mobile-4 {
    order: 4;
  }

  .flex-order-mobile-5 {
    order: 5;
  }

  .flex-order-mobile-6 {
    order: 6;
  }

  .flex-order-mobile-7 {
    order: 7;
  }

  .flex-order-mobile-8 {
    order: 8;
  }

  .flex-order-mobile-9 {
    order: 9;
  }

  .flex-order-mobile-10 {
    order: 10;
  }

  .flex-order-mobile-11 {
    order: 11;
  }

  .flex-order-mobile-12 {
    order: 12;
  }
}
@media (min-width: 768px) {
  .flex-tablet-wrap {
    flex-wrap: wrap;
  }

  .flex-tablet-nowrap {
    flex-wrap: nowrap;
  }

  .flex-tablet-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-tablet-row {
    flex-direction: row;
  }

  .flex-tablet-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-tablet-column {
    flex-direction: column;
  }

  .flex-tablet-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-order-tablet-first {
    order: -1;
  }

  .flex-order-tablet-last {
    order: 13;
  }

  .flex-order-tablet-1 {
    order: 1;
  }

  .flex-order-tablet-2 {
    order: 2;
  }

  .flex-order-tablet-3 {
    order: 3;
  }

  .flex-order-tablet-4 {
    order: 4;
  }

  .flex-order-tablet-5 {
    order: 5;
  }

  .flex-order-tablet-6 {
    order: 6;
  }

  .flex-order-tablet-7 {
    order: 7;
  }

  .flex-order-tablet-8 {
    order: 8;
  }

  .flex-order-tablet-9 {
    order: 9;
  }

  .flex-order-tablet-10 {
    order: 10;
  }

  .flex-order-tablet-11 {
    order: 11;
  }

  .flex-order-tablet-12 {
    order: 12;
  }
}
@media (min-width: 1024px) {
  .flex-desktop-wrap {
    flex-wrap: wrap;
  }

  .flex-desktop-nowrap {
    flex-wrap: nowrap;
  }

  .flex-desktop-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-desktop-row {
    flex-direction: row;
  }

  .flex-desktop-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-desktop-column {
    flex-direction: column;
  }

  .flex-desktop-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-order-desktop-first {
    order: -1;
  }

  .flex-order-desktop-last {
    order: 13;
  }

  .flex-order-desktop-1 {
    order: 1;
  }

  .flex-order-desktop-2 {
    order: 2;
  }

  .flex-order-desktop-3 {
    order: 3;
  }

  .flex-order-desktop-4 {
    order: 4;
  }

  .flex-order-desktop-5 {
    order: 5;
  }

  .flex-order-desktop-6 {
    order: 6;
  }

  .flex-order-desktop-7 {
    order: 7;
  }

  .flex-order-desktop-8 {
    order: 8;
  }

  .flex-order-desktop-9 {
    order: 9;
  }

  .flex-order-desktop-10 {
    order: 10;
  }

  .flex-order-desktop-11 {
    order: 11;
  }

  .flex-order-desktop-12 {
    order: 12;
  }
}
@media (min-width: 1216px) {
  .flex-widescreen-wrap {
    flex-wrap: wrap;
  }

  .flex-widescreen-nowrap {
    flex-wrap: nowrap;
  }

  .flex-widescreen-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-widescreen-row {
    flex-direction: row;
  }

  .flex-widescreen-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-widescreen-column {
    flex-direction: column;
  }

  .flex-widescreen-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-order-widescreen-first {
    order: -1;
  }

  .flex-order-widescreen-last {
    order: 13;
  }

  .flex-order-widescreen-1 {
    order: 1;
  }

  .flex-order-widescreen-2 {
    order: 2;
  }

  .flex-order-widescreen-3 {
    order: 3;
  }

  .flex-order-widescreen-4 {
    order: 4;
  }

  .flex-order-widescreen-5 {
    order: 5;
  }

  .flex-order-widescreen-6 {
    order: 6;
  }

  .flex-order-widescreen-7 {
    order: 7;
  }

  .flex-order-widescreen-8 {
    order: 8;
  }

  .flex-order-widescreen-9 {
    order: 9;
  }

  .flex-order-widescreen-10 {
    order: 10;
  }

  .flex-order-widescreen-11 {
    order: 11;
  }

  .flex-order-widescreen-12 {
    order: 12;
  }
}
@media (min-width: 1480px) {
  .flex-fullhd-wrap {
    flex-wrap: wrap;
  }

  .flex-fullhd-nowrap {
    flex-wrap: nowrap;
  }

  .flex-fullhd-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-fullhd-row {
    flex-direction: row;
  }

  .flex-fullhd-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-fullhd-column {
    flex-direction: column;
  }

  .flex-fullhd-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-order-fullhd-first {
    order: -1;
  }

  .flex-order-fullhd-last {
    order: 13;
  }

  .flex-order-fullhd-1 {
    order: 1;
  }

  .flex-order-fullhd-2 {
    order: 2;
  }

  .flex-order-fullhd-3 {
    order: 3;
  }

  .flex-order-fullhd-4 {
    order: 4;
  }

  .flex-order-fullhd-5 {
    order: 5;
  }

  .flex-order-fullhd-6 {
    order: 6;
  }

  .flex-order-fullhd-7 {
    order: 7;
  }

  .flex-order-fullhd-8 {
    order: 8;
  }

  .flex-order-fullhd-9 {
    order: 9;
  }

  .flex-order-fullhd-10 {
    order: 10;
  }

  .flex-order-fullhd-11 {
    order: 11;
  }

  .flex-order-fullhd-12 {
    order: 12;
  }
}