@import "../variables";
/* Раздел: flexbox сетка. */
.column {
    @extend %common-values;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
}

@each $size, $value in $column {
    .column-#{$size} {
        @extend %common-values;
        flex: 0 0 #{$value};
        width: $value;
    }
}

%common-values {
    padding: 1rem;
    position: relative;
    width: 100%;
}

.container {
    width: 100%;
}

.container-widescreen {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@each $breakpoint, $value in $breakpoints {
    .column-#{$breakpoint} {
        @extend %common-values;
    }
    @each $size, $value in $column {
        .column-#{$breakpoint}-#{$size} {
            @extend %common-values;
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        .column-#{$breakpoint} {
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }

        @each $size, $value in $column {
            .column-#{$breakpoint}-#{$size} {
                @extend %common-values;
                flex: 0 0 #{$value};
                width: $value;
            }
        }

        .container {
            @if $breakpoint == mobile { width: $container-mobile-size;}
            @if $breakpoint == tablet { width: $container-tablet-size;}
            @if $breakpoint == desktop { width: $container-desktop-size;}
            @if $breakpoint == widescreen { width: $container-widescreen-size;}
            @if $breakpoint == fullhd { width: $container-fullhd-size;}
        }
    }
}
/* Конец раздела: flexbox сетка. */