@import "../variables";
/* Раздел: многострочность. */
/*
* Классы определяющие будет ли flex-контейнер однострочным 
* или многострочным и задающие направление оси.
*/
@each $var in nowrap, wrap, wrap-reverse {
    .flex-#{$var} {
        flex-wrap: $var;
    }
}
/* Конец раздела: многострочность. */

/* Раздел: направление главной оси. */
/*
* Классы упрвления направлением главной оси flex-контейнера, 
* вдоль которой распологаются flex-элементы.
*/
@each $var in column, column-reverse, row, row-reverse {
    .flex-#{$var} {
        flex-direction: $var;
    }
}
/* Конец раздела: направление главной оси. */

/* Раздел: изменение порядка колонок. */
/*
* Классы изменения визуального порядка элементов.
* По умолчанию все элементы имеют order: 0.
*/
@for $i from 1 through 12 {
    .flex-order-#{$i} {
        order: $i;
    }
}

.flex-order-first {
    order: -1;
}

.flex-order-last {
    order: 13;
}
/* Конец раздела: направление главной оси. */

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $var in wrap, nowrap, wrap-reverse {
            .flex-#{$breakpoint}-#{$var} {
                flex-wrap: $var;
            }
        }
     
        @each $var in row, row-reverse, column, column-reverse {
            .flex-#{$breakpoint}-#{$var} {
                flex-direction: $var;
            }
        }
       
        .flex-order-#{$breakpoint}-first {
            order: -1;
        }
        
        .flex-order-#{$breakpoint}-last {
            order: 13;
        }
        
        @for $i from 1 through 12 {
            .flex-order-#{$breakpoint}-#{$i} {
                order: $i;
            }
        }
    }
}
