@import "../variables";
/* Раздел: grid сетка. */
/* Отвечает за перенос автоматически размещаемого элемента. */
@for $var from 1 through 12 {
    .grid-column-#{$var} {
        grid-column: span #{$var};
    }
}

.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: $default-size;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.grid-auto-flow-column {
    grid-auto-flow: column;
}

@each $size, $value in $sizes {
    @if $size != auto {
        .grid-gap-#{$size} {
            grid-gap: #{$value};
        }
    }
}

@for $var from 1 through 12 {
    .grid-row-#{$var} {
        grid-row: span #{$var};
    }
}

.height-100vh {
	height: 100vh;
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
        @for $var from 1 through 12 {
            .grid-column-#{$breakpoint}-#{$var} {
                grid-column: span #{$var};
            }
        }
        
        @each $size, $value in $sizes {
            @if $size != auto {
                .grid-gap-#{$breakpoint}-#{$size} {
                    grid-gap: #{$value};
                }
            }
        }

        @for $var from 1 through 12 {
            .grid-row-#{$breakpoint}-#{$var} {
                grid-row: span #{$var};
            }
        }
        
    }
}
/* Конец раздела: grid сетка. */