@import "../variables";
/* Раздел: смещение колонок. */
@each $size, $value in $column {
    @if $size != 12 {
        .offset-#{$size} {
            margin-left: #{$value};
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $size, $value in $column {
            @if $size != 12 {
                .offset-#{$breakpoint}-#{$size} {
                    margin-left: #{$value};
                }
            }
        }
    }
}
/* Конец раздела: смещение колонок. */