@charset "UTF-8";
/* Раздел: смещение колонок. */
.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .offset-mobile-1 {
    margin-left: 8.33333%;
  }

  .offset-mobile-2 {
    margin-left: 16.66667%;
  }

  .offset-mobile-3 {
    margin-left: 25%;
  }

  .offset-mobile-4 {
    margin-left: 33.33333%;
  }

  .offset-mobile-5 {
    margin-left: 41.66667%;
  }

  .offset-mobile-6 {
    margin-left: 50%;
  }

  .offset-mobile-7 {
    margin-left: 58.33333%;
  }

  .offset-mobile-8 {
    margin-left: 66.66667%;
  }

  .offset-mobile-9 {
    margin-left: 75%;
  }

  .offset-mobile-10 {
    margin-left: 83.33333%;
  }

  .offset-mobile-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-tablet-1 {
    margin-left: 8.33333%;
  }

  .offset-tablet-2 {
    margin-left: 16.66667%;
  }

  .offset-tablet-3 {
    margin-left: 25%;
  }

  .offset-tablet-4 {
    margin-left: 33.33333%;
  }

  .offset-tablet-5 {
    margin-left: 41.66667%;
  }

  .offset-tablet-6 {
    margin-left: 50%;
  }

  .offset-tablet-7 {
    margin-left: 58.33333%;
  }

  .offset-tablet-8 {
    margin-left: 66.66667%;
  }

  .offset-tablet-9 {
    margin-left: 75%;
  }

  .offset-tablet-10 {
    margin-left: 83.33333%;
  }

  .offset-tablet-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1024px) {
  .offset-desktop-1 {
    margin-left: 8.33333%;
  }

  .offset-desktop-2 {
    margin-left: 16.66667%;
  }

  .offset-desktop-3 {
    margin-left: 25%;
  }

  .offset-desktop-4 {
    margin-left: 33.33333%;
  }

  .offset-desktop-5 {
    margin-left: 41.66667%;
  }

  .offset-desktop-6 {
    margin-left: 50%;
  }

  .offset-desktop-7 {
    margin-left: 58.33333%;
  }

  .offset-desktop-8 {
    margin-left: 66.66667%;
  }

  .offset-desktop-9 {
    margin-left: 75%;
  }

  .offset-desktop-10 {
    margin-left: 83.33333%;
  }

  .offset-desktop-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1216px) {
  .offset-widescreen-1 {
    margin-left: 8.33333%;
  }

  .offset-widescreen-2 {
    margin-left: 16.66667%;
  }

  .offset-widescreen-3 {
    margin-left: 25%;
  }

  .offset-widescreen-4 {
    margin-left: 33.33333%;
  }

  .offset-widescreen-5 {
    margin-left: 41.66667%;
  }

  .offset-widescreen-6 {
    margin-left: 50%;
  }

  .offset-widescreen-7 {
    margin-left: 58.33333%;
  }

  .offset-widescreen-8 {
    margin-left: 66.66667%;
  }

  .offset-widescreen-9 {
    margin-left: 75%;
  }

  .offset-widescreen-10 {
    margin-left: 83.33333%;
  }

  .offset-widescreen-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1480px) {
  .offset-fullhd-1 {
    margin-left: 8.33333%;
  }

  .offset-fullhd-2 {
    margin-left: 16.66667%;
  }

  .offset-fullhd-3 {
    margin-left: 25%;
  }

  .offset-fullhd-4 {
    margin-left: 33.33333%;
  }

  .offset-fullhd-5 {
    margin-left: 41.66667%;
  }

  .offset-fullhd-6 {
    margin-left: 50%;
  }

  .offset-fullhd-7 {
    margin-left: 58.33333%;
  }

  .offset-fullhd-8 {
    margin-left: 66.66667%;
  }

  .offset-fullhd-9 {
    margin-left: 75%;
  }

  .offset-fullhd-10 {
    margin-left: 83.33333%;
  }

  .offset-fullhd-11 {
    margin-left: 91.66667%;
  }
}
/* Конец раздела: смещение колонок. */