@import "../variables";
/* Раздел: margin. */
@each $size, $value in $sizes-indents {
    .margin-#{$size} {
        margin: $value;
    }

    @each $var in bottom, left, right, top {
        .margin-#{$var}-#{$size} {
            margin-#{$var}: $value;
        }
    }

    .margin-x-#{$size} {
        margin-left: $value;
        margin-right: $value;
    }

    .margin-y-#{$size} {
        margin-bottom: $value;
        margin-top: $value;
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $size, $value in $sizes-indents {
            .margin-#{$breakpoint}-#{$size} {
                margin: $value;
            }

            @each $var in bottom, left, right, top {
                .margin-#{$var}-#{$breakpoint}-#{$size} {
                    margin-#{$var}: $value;
                }
            }

            .margin-x-#{$breakpoint}-#{$size} {
                margin-left: $value;
                margin-right: $value;
            }

            .margin-y-#{$breakpoint}-#{$size} {
                margin-bottom: $value;
                margin-top: $value;
            }
        }
    }
}
/* Конец раздела: margin. */