@charset "UTF-8";
/* Раздел: margin. */
.margin-0 {
  margin: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-x-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-y-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.margin-1 {
  margin: 0.25rem;
}

.margin-bottom-1 {
  margin-bottom: 0.25rem;
}

.margin-left-1 {
  margin-left: 0.25rem;
}

.margin-right-1 {
  margin-right: 0.25rem;
}

.margin-top-1 {
  margin-top: 0.25rem;
}

.margin-x-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.margin-y-1 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.margin-2 {
  margin: 0.5rem;
}

.margin-bottom-2 {
  margin-bottom: 0.5rem;
}

.margin-left-2 {
  margin-left: 0.5rem;
}

.margin-right-2 {
  margin-right: 0.5rem;
}

.margin-top-2 {
  margin-top: 0.5rem;
}

.margin-x-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin-y-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.margin-3 {
  margin: 0.75rem;
}

.margin-bottom-3 {
  margin-bottom: 0.75rem;
}

.margin-left-3 {
  margin-left: 0.75rem;
}

.margin-right-3 {
  margin-right: 0.75rem;
}

.margin-top-3 {
  margin-top: 0.75rem;
}

.margin-x-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.margin-y-3 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.margin-4 {
  margin: 1rem;
}

.margin-bottom-4 {
  margin-bottom: 1rem;
}

.margin-left-4 {
  margin-left: 1rem;
}

.margin-right-4 {
  margin-right: 1rem;
}

.margin-top-4 {
  margin-top: 1rem;
}

.margin-x-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-y-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.margin-5 {
  margin: 1.25rem;
}

.margin-bottom-5 {
  margin-bottom: 1.25rem;
}

.margin-left-5 {
  margin-left: 1.25rem;
}

.margin-right-5 {
  margin-right: 1.25rem;
}

.margin-top-5 {
  margin-top: 1.25rem;
}

.margin-x-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.margin-y-5 {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.margin-auto {
  margin: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-y-auto {
  margin-bottom: auto;
  margin-top: auto;
}

@media (min-width: 576px) {
  .margin-mobile-0 {
    margin: 0;
  }

  .margin-bottom-mobile-0 {
    margin-bottom: 0;
  }

  .margin-left-mobile-0 {
    margin-left: 0;
  }

  .margin-right-mobile-0 {
    margin-right: 0;
  }

  .margin-top-mobile-0 {
    margin-top: 0;
  }

  .margin-x-mobile-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-y-mobile-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .margin-mobile-1 {
    margin: 0.25rem;
  }

  .margin-bottom-mobile-1 {
    margin-bottom: 0.25rem;
  }

  .margin-left-mobile-1 {
    margin-left: 0.25rem;
  }

  .margin-right-mobile-1 {
    margin-right: 0.25rem;
  }

  .margin-top-mobile-1 {
    margin-top: 0.25rem;
  }

  .margin-x-mobile-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .margin-y-mobile-1 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  .margin-mobile-2 {
    margin: 0.5rem;
  }

  .margin-bottom-mobile-2 {
    margin-bottom: 0.5rem;
  }

  .margin-left-mobile-2 {
    margin-left: 0.5rem;
  }

  .margin-right-mobile-2 {
    margin-right: 0.5rem;
  }

  .margin-top-mobile-2 {
    margin-top: 0.5rem;
  }

  .margin-x-mobile-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .margin-y-mobile-2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .margin-mobile-3 {
    margin: 0.75rem;
  }

  .margin-bottom-mobile-3 {
    margin-bottom: 0.75rem;
  }

  .margin-left-mobile-3 {
    margin-left: 0.75rem;
  }

  .margin-right-mobile-3 {
    margin-right: 0.75rem;
  }

  .margin-top-mobile-3 {
    margin-top: 0.75rem;
  }

  .margin-x-mobile-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .margin-y-mobile-3 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .margin-mobile-4 {
    margin: 1rem;
  }

  .margin-bottom-mobile-4 {
    margin-bottom: 1rem;
  }

  .margin-left-mobile-4 {
    margin-left: 1rem;
  }

  .margin-right-mobile-4 {
    margin-right: 1rem;
  }

  .margin-top-mobile-4 {
    margin-top: 1rem;
  }

  .margin-x-mobile-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-y-mobile-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .margin-mobile-5 {
    margin: 1.25rem;
  }

  .margin-bottom-mobile-5 {
    margin-bottom: 1.25rem;
  }

  .margin-left-mobile-5 {
    margin-left: 1.25rem;
  }

  .margin-right-mobile-5 {
    margin-right: 1.25rem;
  }

  .margin-top-mobile-5 {
    margin-top: 1.25rem;
  }

  .margin-x-mobile-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .margin-y-mobile-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .margin-mobile-auto {
    margin: auto;
  }

  .margin-bottom-mobile-auto {
    margin-bottom: auto;
  }

  .margin-left-mobile-auto {
    margin-left: auto;
  }

  .margin-right-mobile-auto {
    margin-right: auto;
  }

  .margin-top-mobile-auto {
    margin-top: auto;
  }

  .margin-x-mobile-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .margin-y-mobile-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
}
@media (min-width: 768px) {
  .margin-tablet-0 {
    margin: 0;
  }

  .margin-bottom-tablet-0 {
    margin-bottom: 0;
  }

  .margin-left-tablet-0 {
    margin-left: 0;
  }

  .margin-right-tablet-0 {
    margin-right: 0;
  }

  .margin-top-tablet-0 {
    margin-top: 0;
  }

  .margin-x-tablet-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-y-tablet-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .margin-tablet-1 {
    margin: 0.25rem;
  }

  .margin-bottom-tablet-1 {
    margin-bottom: 0.25rem;
  }

  .margin-left-tablet-1 {
    margin-left: 0.25rem;
  }

  .margin-right-tablet-1 {
    margin-right: 0.25rem;
  }

  .margin-top-tablet-1 {
    margin-top: 0.25rem;
  }

  .margin-x-tablet-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .margin-y-tablet-1 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  .margin-tablet-2 {
    margin: 0.5rem;
  }

  .margin-bottom-tablet-2 {
    margin-bottom: 0.5rem;
  }

  .margin-left-tablet-2 {
    margin-left: 0.5rem;
  }

  .margin-right-tablet-2 {
    margin-right: 0.5rem;
  }

  .margin-top-tablet-2 {
    margin-top: 0.5rem;
  }

  .margin-x-tablet-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .margin-y-tablet-2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .margin-tablet-3 {
    margin: 0.75rem;
  }

  .margin-bottom-tablet-3 {
    margin-bottom: 0.75rem;
  }

  .margin-left-tablet-3 {
    margin-left: 0.75rem;
  }

  .margin-right-tablet-3 {
    margin-right: 0.75rem;
  }

  .margin-top-tablet-3 {
    margin-top: 0.75rem;
  }

  .margin-x-tablet-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .margin-y-tablet-3 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .margin-tablet-4 {
    margin: 1rem;
  }

  .margin-bottom-tablet-4 {
    margin-bottom: 1rem;
  }

  .margin-left-tablet-4 {
    margin-left: 1rem;
  }

  .margin-right-tablet-4 {
    margin-right: 1rem;
  }

  .margin-top-tablet-4 {
    margin-top: 1rem;
  }

  .margin-x-tablet-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-y-tablet-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .margin-tablet-5 {
    margin: 1.25rem;
  }

  .margin-bottom-tablet-5 {
    margin-bottom: 1.25rem;
  }

  .margin-left-tablet-5 {
    margin-left: 1.25rem;
  }

  .margin-right-tablet-5 {
    margin-right: 1.25rem;
  }

  .margin-top-tablet-5 {
    margin-top: 1.25rem;
  }

  .margin-x-tablet-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .margin-y-tablet-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .margin-tablet-auto {
    margin: auto;
  }

  .margin-bottom-tablet-auto {
    margin-bottom: auto;
  }

  .margin-left-tablet-auto {
    margin-left: auto;
  }

  .margin-right-tablet-auto {
    margin-right: auto;
  }

  .margin-top-tablet-auto {
    margin-top: auto;
  }

  .margin-x-tablet-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .margin-y-tablet-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
}
@media (min-width: 1024px) {
  .margin-desktop-0 {
    margin: 0;
  }

  .margin-bottom-desktop-0 {
    margin-bottom: 0;
  }

  .margin-left-desktop-0 {
    margin-left: 0;
  }

  .margin-right-desktop-0 {
    margin-right: 0;
  }

  .margin-top-desktop-0 {
    margin-top: 0;
  }

  .margin-x-desktop-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-y-desktop-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .margin-desktop-1 {
    margin: 0.25rem;
  }

  .margin-bottom-desktop-1 {
    margin-bottom: 0.25rem;
  }

  .margin-left-desktop-1 {
    margin-left: 0.25rem;
  }

  .margin-right-desktop-1 {
    margin-right: 0.25rem;
  }

  .margin-top-desktop-1 {
    margin-top: 0.25rem;
  }

  .margin-x-desktop-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .margin-y-desktop-1 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  .margin-desktop-2 {
    margin: 0.5rem;
  }

  .margin-bottom-desktop-2 {
    margin-bottom: 0.5rem;
  }

  .margin-left-desktop-2 {
    margin-left: 0.5rem;
  }

  .margin-right-desktop-2 {
    margin-right: 0.5rem;
  }

  .margin-top-desktop-2 {
    margin-top: 0.5rem;
  }

  .margin-x-desktop-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .margin-y-desktop-2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .margin-desktop-3 {
    margin: 0.75rem;
  }

  .margin-bottom-desktop-3 {
    margin-bottom: 0.75rem;
  }

  .margin-left-desktop-3 {
    margin-left: 0.75rem;
  }

  .margin-right-desktop-3 {
    margin-right: 0.75rem;
  }

  .margin-top-desktop-3 {
    margin-top: 0.75rem;
  }

  .margin-x-desktop-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .margin-y-desktop-3 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .margin-desktop-4 {
    margin: 1rem;
  }

  .margin-bottom-desktop-4 {
    margin-bottom: 1rem;
  }

  .margin-left-desktop-4 {
    margin-left: 1rem;
  }

  .margin-right-desktop-4 {
    margin-right: 1rem;
  }

  .margin-top-desktop-4 {
    margin-top: 1rem;
  }

  .margin-x-desktop-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-y-desktop-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .margin-desktop-5 {
    margin: 1.25rem;
  }

  .margin-bottom-desktop-5 {
    margin-bottom: 1.25rem;
  }

  .margin-left-desktop-5 {
    margin-left: 1.25rem;
  }

  .margin-right-desktop-5 {
    margin-right: 1.25rem;
  }

  .margin-top-desktop-5 {
    margin-top: 1.25rem;
  }

  .margin-x-desktop-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .margin-y-desktop-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .margin-desktop-auto {
    margin: auto;
  }

  .margin-bottom-desktop-auto {
    margin-bottom: auto;
  }

  .margin-left-desktop-auto {
    margin-left: auto;
  }

  .margin-right-desktop-auto {
    margin-right: auto;
  }

  .margin-top-desktop-auto {
    margin-top: auto;
  }

  .margin-x-desktop-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .margin-y-desktop-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
}
@media (min-width: 1216px) {
  .margin-widescreen-0 {
    margin: 0;
  }

  .margin-bottom-widescreen-0 {
    margin-bottom: 0;
  }

  .margin-left-widescreen-0 {
    margin-left: 0;
  }

  .margin-right-widescreen-0 {
    margin-right: 0;
  }

  .margin-top-widescreen-0 {
    margin-top: 0;
  }

  .margin-x-widescreen-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-y-widescreen-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .margin-widescreen-1 {
    margin: 0.25rem;
  }

  .margin-bottom-widescreen-1 {
    margin-bottom: 0.25rem;
  }

  .margin-left-widescreen-1 {
    margin-left: 0.25rem;
  }

  .margin-right-widescreen-1 {
    margin-right: 0.25rem;
  }

  .margin-top-widescreen-1 {
    margin-top: 0.25rem;
  }

  .margin-x-widescreen-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .margin-y-widescreen-1 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  .margin-widescreen-2 {
    margin: 0.5rem;
  }

  .margin-bottom-widescreen-2 {
    margin-bottom: 0.5rem;
  }

  .margin-left-widescreen-2 {
    margin-left: 0.5rem;
  }

  .margin-right-widescreen-2 {
    margin-right: 0.5rem;
  }

  .margin-top-widescreen-2 {
    margin-top: 0.5rem;
  }

  .margin-x-widescreen-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .margin-y-widescreen-2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .margin-widescreen-3 {
    margin: 0.75rem;
  }

  .margin-bottom-widescreen-3 {
    margin-bottom: 0.75rem;
  }

  .margin-left-widescreen-3 {
    margin-left: 0.75rem;
  }

  .margin-right-widescreen-3 {
    margin-right: 0.75rem;
  }

  .margin-top-widescreen-3 {
    margin-top: 0.75rem;
  }

  .margin-x-widescreen-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .margin-y-widescreen-3 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .margin-widescreen-4 {
    margin: 1rem;
  }

  .margin-bottom-widescreen-4 {
    margin-bottom: 1rem;
  }

  .margin-left-widescreen-4 {
    margin-left: 1rem;
  }

  .margin-right-widescreen-4 {
    margin-right: 1rem;
  }

  .margin-top-widescreen-4 {
    margin-top: 1rem;
  }

  .margin-x-widescreen-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-y-widescreen-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .margin-widescreen-5 {
    margin: 1.25rem;
  }

  .margin-bottom-widescreen-5 {
    margin-bottom: 1.25rem;
  }

  .margin-left-widescreen-5 {
    margin-left: 1.25rem;
  }

  .margin-right-widescreen-5 {
    margin-right: 1.25rem;
  }

  .margin-top-widescreen-5 {
    margin-top: 1.25rem;
  }

  .margin-x-widescreen-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .margin-y-widescreen-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .margin-widescreen-auto {
    margin: auto;
  }

  .margin-bottom-widescreen-auto {
    margin-bottom: auto;
  }

  .margin-left-widescreen-auto {
    margin-left: auto;
  }

  .margin-right-widescreen-auto {
    margin-right: auto;
  }

  .margin-top-widescreen-auto {
    margin-top: auto;
  }

  .margin-x-widescreen-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .margin-y-widescreen-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
}
@media (min-width: 1480px) {
  .margin-fullhd-0 {
    margin: 0;
  }

  .margin-bottom-fullhd-0 {
    margin-bottom: 0;
  }

  .margin-left-fullhd-0 {
    margin-left: 0;
  }

  .margin-right-fullhd-0 {
    margin-right: 0;
  }

  .margin-top-fullhd-0 {
    margin-top: 0;
  }

  .margin-x-fullhd-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-y-fullhd-0 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .margin-fullhd-1 {
    margin: 0.25rem;
  }

  .margin-bottom-fullhd-1 {
    margin-bottom: 0.25rem;
  }

  .margin-left-fullhd-1 {
    margin-left: 0.25rem;
  }

  .margin-right-fullhd-1 {
    margin-right: 0.25rem;
  }

  .margin-top-fullhd-1 {
    margin-top: 0.25rem;
  }

  .margin-x-fullhd-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .margin-y-fullhd-1 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }

  .margin-fullhd-2 {
    margin: 0.5rem;
  }

  .margin-bottom-fullhd-2 {
    margin-bottom: 0.5rem;
  }

  .margin-left-fullhd-2 {
    margin-left: 0.5rem;
  }

  .margin-right-fullhd-2 {
    margin-right: 0.5rem;
  }

  .margin-top-fullhd-2 {
    margin-top: 0.5rem;
  }

  .margin-x-fullhd-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .margin-y-fullhd-2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .margin-fullhd-3 {
    margin: 0.75rem;
  }

  .margin-bottom-fullhd-3 {
    margin-bottom: 0.75rem;
  }

  .margin-left-fullhd-3 {
    margin-left: 0.75rem;
  }

  .margin-right-fullhd-3 {
    margin-right: 0.75rem;
  }

  .margin-top-fullhd-3 {
    margin-top: 0.75rem;
  }

  .margin-x-fullhd-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .margin-y-fullhd-3 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .margin-fullhd-4 {
    margin: 1rem;
  }

  .margin-bottom-fullhd-4 {
    margin-bottom: 1rem;
  }

  .margin-left-fullhd-4 {
    margin-left: 1rem;
  }

  .margin-right-fullhd-4 {
    margin-right: 1rem;
  }

  .margin-top-fullhd-4 {
    margin-top: 1rem;
  }

  .margin-x-fullhd-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-y-fullhd-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .margin-fullhd-5 {
    margin: 1.25rem;
  }

  .margin-bottom-fullhd-5 {
    margin-bottom: 1.25rem;
  }

  .margin-left-fullhd-5 {
    margin-left: 1.25rem;
  }

  .margin-right-fullhd-5 {
    margin-right: 1.25rem;
  }

  .margin-top-fullhd-5 {
    margin-top: 1.25rem;
  }

  .margin-x-fullhd-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .margin-y-fullhd-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .margin-fullhd-auto {
    margin: auto;
  }

  .margin-bottom-fullhd-auto {
    margin-bottom: auto;
  }

  .margin-left-fullhd-auto {
    margin-left: auto;
  }

  .margin-right-fullhd-auto {
    margin-right: auto;
  }

  .margin-top-fullhd-auto {
    margin-top: auto;
  }

  .margin-x-fullhd-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .margin-y-fullhd-auto {
    margin-bottom: auto;
    margin-top: auto;
  }
}
/* Конец раздела: margin. */