@import "../variables";
/* Раздел: padding. */
@each $size, $value in $sizes-indents {
    @if $size != auto {
        .padding-#{$size} {
            padding: $value;
        }
        
        @each $var in bottom, left, right, top {
            .padding-#{$var}-#{$size} {
                padding-#{$var}: $value;
            }
        }

        .padding-x-#{$size} {
            padding-left: $value;
            padding-right: $value;
        }

        .padding-y-#{$size} {
            padding-bottom: $value;
            padding-top: $value;
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
        @each $size, $value in $sizes-indents {
            @if $size != auto {
                .padding-#{$breakpoint}-#{$size} {
                    padding: $value;
                }

                @each $var in bottom, left, right, top {
                    .padding-#{$var}-#{$breakpoint}-#{$size} {
                        padding-#{$var}: $value;
                    }
                }

                .padding-x-#{$breakpoint}-#{$size} {
                    padding-left: $value;
                    padding-right: $value;
                }

                .padding-y-#{$breakpoint}-#{$size} {
                    padding-bottom: $value;
                    padding-top: $value;
                }
            }
        }
    }
}
/* Конец раздел: padding. */