/*
    Определение цвета фона
 */
.background-base-strong
{
    background-color: var(--base-strong);
}

.background-base-weak
{
    background-color: var(--base-weak);
}

.background-faint-strong
{
    background-color: var(--faint-strong);
}

.background-faint-weak
{
    background-color: var(--faint-weak);
}

.background-accent-strong
{
    background-color: var(--accent-strong);
}

.background-accent-strong-up
{
    background-color: var(--accent-strong-up);
}

.background-accent-strong-down
{
    background-color: var(--accent-strong-down);
}

.background-accent-weak
{
    background-color: var(--accent-weak);
}

.background-accent-weak-up
{
    background-color: var(--accent-weak-up);
}

.background-accent-weak-down
{
    background-color: var(--accent-weak-down);
}

.background-critic-strong
{
    background-color: var(--critic-strong);
}

.background-critic-strong-up
{
    background-color: var(--critic-strong-up);
}

.background-critic-strong-down
{
    background-color: var(--critic-strong-down);
}

.background-critic-weak
{
    background-color: var(--critic-weak);
}

.background-warning-strong
{
    background-color: var(--warning-strong);
}

.background-warning-strong-up
{
    background-color: var(--warning-strong-up);
}

.background-warning-strong-down
{
    background-color: var(--warning-strong-down);
}

.background-warning-weak
{
    background-color: var(--warning-weak);
}

.background-success-strong
{
    background-color: var(--success-strong);
}

.background-success-strong-up
{
    background-color: var(--success-strong-up);
}

.background-success-strong-down
{
    background-color: var(--success-strong-down);
}

.background-success-weak
{
    background-color: var(--success-weak);
}

/*
    Определение цвета текса
 */
.color-base-strong
{
    color: var(--base-strong);
}

.color-base-weak
{
    color: var(--base-weak);
}

.color-faint-strong
{
    color: var(--faint-strong);
}

.color-faint-weak
{
    color: var(--faint-weak);
}

.color-accent-strong
{
    color: var(--accent-strong);
}

.color-accent-strong-up
{
    color: var(--accent-strong-up);
}

.color-accent-strong-down
{
    color: var(--accent-strong-down);
}

.color-accent-weak
{
    color: var(--accent-weak);
}

.color-accent-weak-up
{
    color: var(--accent-weak-up);
}

.color-accent-weak-down
{
    color: var(--accent-weak-down);
}

.color-critic-strong
{
    color: var(--critic-strong);
}

.color-critic-strong-up
{
    color: var(--critic-strong-up);
}

.color-critic-strong-down
{
    color: var(--critic-strong-down);
}

.color-critic-weak
{
    color: var(--critic-weak);
}

.color-warning-strong
{
    color: var(--warning-strong);
}

.color-warning-strong-up
{
    color: var(--warning-strong-up);
}

.color-warning-strong-down
{
    color: var(--warning-strong-down);
}

.color-warning-weak
{
    color: var(--warning-weak);
}

.color-success-strong
{
    color: var(--success-strong);
}

.color-success-strong-up
{
    color: var(--success-strong-up);
}

.color-success-strong-down
{
    color: var(--success-strong-down);
}

.color-success-weak
{
    color: var(--success-weak);
}