:root {
  --size-0: 0;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-auto: auto;
  --font-family: arial;
  --font-family-sans-serif: sans-serif;
  --font-family-monospace: monospace;
  --font-size: 1rem;
  --font-style: inherit;
  --font-weight: inherit;
  --breakpoint-mobile-size: 576px;
  --breakpoint-tablet-size: 768px;
  --breakpoint-desktop-size: 1024px;
  --breakpoint-widescreen-size: 1216px;
  --breakpoint-fullhd-size: 1480px;
  --container-mobile-size: 540px;
  --container-tablet-size: 720px;
  --container-desktop-size: 960px;
  --container-widescreen-size: 1152px;
  --container-fullhd-size: 1344px;
  --accent-strong: #0070FF;
  --accent-weak: #EBF4FF;
  --base-strong: #000000;
  --base-weak: #ffffff;
  --complement-strong: #8889E2;
  --complement-weak: #EEECFD;
  --critic-strong: #F74545;
  --critic-weak: #FDEDED;
  --faint-strong: #8994a6;
  --faint-weak: #f6f8fb;
  --success-strong: #27AE60;
  --success-weak: #DEF8E9;
  --warning-strong: #F8AE4F;
  --warning-weak: #FCEBCF;
}