@charset "UTF-8";
/* Раздел: padding. */
.padding-0 {
  padding: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-y-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.padding-1 {
  padding: 0.25rem;
}

.padding-bottom-1 {
  padding-bottom: 0.25rem;
}

.padding-left-1 {
  padding-left: 0.25rem;
}

.padding-right-1 {
  padding-right: 0.25rem;
}

.padding-top-1 {
  padding-top: 0.25rem;
}

.padding-x-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.padding-y-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.padding-2 {
  padding: 0.5rem;
}

.padding-bottom-2 {
  padding-bottom: 0.5rem;
}

.padding-left-2 {
  padding-left: 0.5rem;
}

.padding-right-2 {
  padding-right: 0.5rem;
}

.padding-top-2 {
  padding-top: 0.5rem;
}

.padding-x-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-y-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.padding-3 {
  padding: 0.75rem;
}

.padding-bottom-3 {
  padding-bottom: 0.75rem;
}

.padding-left-3 {
  padding-left: 0.75rem;
}

.padding-right-3 {
  padding-right: 0.75rem;
}

.padding-top-3 {
  padding-top: 0.75rem;
}

.padding-x-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.padding-y-3 {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.padding-4 {
  padding: 1rem;
}

.padding-bottom-4 {
  padding-bottom: 1rem;
}

.padding-left-4 {
  padding-left: 1rem;
}

.padding-right-4 {
  padding-right: 1rem;
}

.padding-top-4 {
  padding-top: 1rem;
}

.padding-x-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-y-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.padding-5 {
  padding: 1.25rem;
}

.padding-bottom-5 {
  padding-bottom: 1.25rem;
}

.padding-left-5 {
  padding-left: 1.25rem;
}

.padding-right-5 {
  padding-right: 1.25rem;
}

.padding-top-5 {
  padding-top: 1.25rem;
}

.padding-x-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.padding-y-5 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

@media (min-width: 576px) {
  .padding-mobile-0 {
    padding: 0;
  }

  .padding-bottom-mobile-0 {
    padding-bottom: 0;
  }

  .padding-left-mobile-0 {
    padding-left: 0;
  }

  .padding-right-mobile-0 {
    padding-right: 0;
  }

  .padding-top-mobile-0 {
    padding-top: 0;
  }

  .padding-x-mobile-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-y-mobile-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .padding-mobile-1 {
    padding: 0.25rem;
  }

  .padding-bottom-mobile-1 {
    padding-bottom: 0.25rem;
  }

  .padding-left-mobile-1 {
    padding-left: 0.25rem;
  }

  .padding-right-mobile-1 {
    padding-right: 0.25rem;
  }

  .padding-top-mobile-1 {
    padding-top: 0.25rem;
  }

  .padding-x-mobile-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .padding-y-mobile-1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }

  .padding-mobile-2 {
    padding: 0.5rem;
  }

  .padding-bottom-mobile-2 {
    padding-bottom: 0.5rem;
  }

  .padding-left-mobile-2 {
    padding-left: 0.5rem;
  }

  .padding-right-mobile-2 {
    padding-right: 0.5rem;
  }

  .padding-top-mobile-2 {
    padding-top: 0.5rem;
  }

  .padding-x-mobile-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .padding-y-mobile-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .padding-mobile-3 {
    padding: 0.75rem;
  }

  .padding-bottom-mobile-3 {
    padding-bottom: 0.75rem;
  }

  .padding-left-mobile-3 {
    padding-left: 0.75rem;
  }

  .padding-right-mobile-3 {
    padding-right: 0.75rem;
  }

  .padding-top-mobile-3 {
    padding-top: 0.75rem;
  }

  .padding-x-mobile-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .padding-y-mobile-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .padding-mobile-4 {
    padding: 1rem;
  }

  .padding-bottom-mobile-4 {
    padding-bottom: 1rem;
  }

  .padding-left-mobile-4 {
    padding-left: 1rem;
  }

  .padding-right-mobile-4 {
    padding-right: 1rem;
  }

  .padding-top-mobile-4 {
    padding-top: 1rem;
  }

  .padding-x-mobile-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-y-mobile-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .padding-mobile-5 {
    padding: 1.25rem;
  }

  .padding-bottom-mobile-5 {
    padding-bottom: 1.25rem;
  }

  .padding-left-mobile-5 {
    padding-left: 1.25rem;
  }

  .padding-right-mobile-5 {
    padding-right: 1.25rem;
  }

  .padding-top-mobile-5 {
    padding-top: 1.25rem;
  }

  .padding-x-mobile-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-y-mobile-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}
@media (min-width: 768px) {
  .padding-tablet-0 {
    padding: 0;
  }

  .padding-bottom-tablet-0 {
    padding-bottom: 0;
  }

  .padding-left-tablet-0 {
    padding-left: 0;
  }

  .padding-right-tablet-0 {
    padding-right: 0;
  }

  .padding-top-tablet-0 {
    padding-top: 0;
  }

  .padding-x-tablet-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-y-tablet-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .padding-tablet-1 {
    padding: 0.25rem;
  }

  .padding-bottom-tablet-1 {
    padding-bottom: 0.25rem;
  }

  .padding-left-tablet-1 {
    padding-left: 0.25rem;
  }

  .padding-right-tablet-1 {
    padding-right: 0.25rem;
  }

  .padding-top-tablet-1 {
    padding-top: 0.25rem;
  }

  .padding-x-tablet-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .padding-y-tablet-1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }

  .padding-tablet-2 {
    padding: 0.5rem;
  }

  .padding-bottom-tablet-2 {
    padding-bottom: 0.5rem;
  }

  .padding-left-tablet-2 {
    padding-left: 0.5rem;
  }

  .padding-right-tablet-2 {
    padding-right: 0.5rem;
  }

  .padding-top-tablet-2 {
    padding-top: 0.5rem;
  }

  .padding-x-tablet-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .padding-y-tablet-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .padding-tablet-3 {
    padding: 0.75rem;
  }

  .padding-bottom-tablet-3 {
    padding-bottom: 0.75rem;
  }

  .padding-left-tablet-3 {
    padding-left: 0.75rem;
  }

  .padding-right-tablet-3 {
    padding-right: 0.75rem;
  }

  .padding-top-tablet-3 {
    padding-top: 0.75rem;
  }

  .padding-x-tablet-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .padding-y-tablet-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .padding-tablet-4 {
    padding: 1rem;
  }

  .padding-bottom-tablet-4 {
    padding-bottom: 1rem;
  }

  .padding-left-tablet-4 {
    padding-left: 1rem;
  }

  .padding-right-tablet-4 {
    padding-right: 1rem;
  }

  .padding-top-tablet-4 {
    padding-top: 1rem;
  }

  .padding-x-tablet-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-y-tablet-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .padding-tablet-5 {
    padding: 1.25rem;
  }

  .padding-bottom-tablet-5 {
    padding-bottom: 1.25rem;
  }

  .padding-left-tablet-5 {
    padding-left: 1.25rem;
  }

  .padding-right-tablet-5 {
    padding-right: 1.25rem;
  }

  .padding-top-tablet-5 {
    padding-top: 1.25rem;
  }

  .padding-x-tablet-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-y-tablet-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .padding-desktop-0 {
    padding: 0;
  }

  .padding-bottom-desktop-0 {
    padding-bottom: 0;
  }

  .padding-left-desktop-0 {
    padding-left: 0;
  }

  .padding-right-desktop-0 {
    padding-right: 0;
  }

  .padding-top-desktop-0 {
    padding-top: 0;
  }

  .padding-x-desktop-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-y-desktop-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .padding-desktop-1 {
    padding: 0.25rem;
  }

  .padding-bottom-desktop-1 {
    padding-bottom: 0.25rem;
  }

  .padding-left-desktop-1 {
    padding-left: 0.25rem;
  }

  .padding-right-desktop-1 {
    padding-right: 0.25rem;
  }

  .padding-top-desktop-1 {
    padding-top: 0.25rem;
  }

  .padding-x-desktop-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .padding-y-desktop-1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }

  .padding-desktop-2 {
    padding: 0.5rem;
  }

  .padding-bottom-desktop-2 {
    padding-bottom: 0.5rem;
  }

  .padding-left-desktop-2 {
    padding-left: 0.5rem;
  }

  .padding-right-desktop-2 {
    padding-right: 0.5rem;
  }

  .padding-top-desktop-2 {
    padding-top: 0.5rem;
  }

  .padding-x-desktop-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .padding-y-desktop-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .padding-desktop-3 {
    padding: 0.75rem;
  }

  .padding-bottom-desktop-3 {
    padding-bottom: 0.75rem;
  }

  .padding-left-desktop-3 {
    padding-left: 0.75rem;
  }

  .padding-right-desktop-3 {
    padding-right: 0.75rem;
  }

  .padding-top-desktop-3 {
    padding-top: 0.75rem;
  }

  .padding-x-desktop-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .padding-y-desktop-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .padding-desktop-4 {
    padding: 1rem;
  }

  .padding-bottom-desktop-4 {
    padding-bottom: 1rem;
  }

  .padding-left-desktop-4 {
    padding-left: 1rem;
  }

  .padding-right-desktop-4 {
    padding-right: 1rem;
  }

  .padding-top-desktop-4 {
    padding-top: 1rem;
  }

  .padding-x-desktop-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-y-desktop-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .padding-desktop-5 {
    padding: 1.25rem;
  }

  .padding-bottom-desktop-5 {
    padding-bottom: 1.25rem;
  }

  .padding-left-desktop-5 {
    padding-left: 1.25rem;
  }

  .padding-right-desktop-5 {
    padding-right: 1.25rem;
  }

  .padding-top-desktop-5 {
    padding-top: 1.25rem;
  }

  .padding-x-desktop-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-y-desktop-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}
@media (min-width: 1216px) {
  .padding-widescreen-0 {
    padding: 0;
  }

  .padding-bottom-widescreen-0 {
    padding-bottom: 0;
  }

  .padding-left-widescreen-0 {
    padding-left: 0;
  }

  .padding-right-widescreen-0 {
    padding-right: 0;
  }

  .padding-top-widescreen-0 {
    padding-top: 0;
  }

  .padding-x-widescreen-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-y-widescreen-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .padding-widescreen-1 {
    padding: 0.25rem;
  }

  .padding-bottom-widescreen-1 {
    padding-bottom: 0.25rem;
  }

  .padding-left-widescreen-1 {
    padding-left: 0.25rem;
  }

  .padding-right-widescreen-1 {
    padding-right: 0.25rem;
  }

  .padding-top-widescreen-1 {
    padding-top: 0.25rem;
  }

  .padding-x-widescreen-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .padding-y-widescreen-1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }

  .padding-widescreen-2 {
    padding: 0.5rem;
  }

  .padding-bottom-widescreen-2 {
    padding-bottom: 0.5rem;
  }

  .padding-left-widescreen-2 {
    padding-left: 0.5rem;
  }

  .padding-right-widescreen-2 {
    padding-right: 0.5rem;
  }

  .padding-top-widescreen-2 {
    padding-top: 0.5rem;
  }

  .padding-x-widescreen-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .padding-y-widescreen-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .padding-widescreen-3 {
    padding: 0.75rem;
  }

  .padding-bottom-widescreen-3 {
    padding-bottom: 0.75rem;
  }

  .padding-left-widescreen-3 {
    padding-left: 0.75rem;
  }

  .padding-right-widescreen-3 {
    padding-right: 0.75rem;
  }

  .padding-top-widescreen-3 {
    padding-top: 0.75rem;
  }

  .padding-x-widescreen-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .padding-y-widescreen-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .padding-widescreen-4 {
    padding: 1rem;
  }

  .padding-bottom-widescreen-4 {
    padding-bottom: 1rem;
  }

  .padding-left-widescreen-4 {
    padding-left: 1rem;
  }

  .padding-right-widescreen-4 {
    padding-right: 1rem;
  }

  .padding-top-widescreen-4 {
    padding-top: 1rem;
  }

  .padding-x-widescreen-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-y-widescreen-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .padding-widescreen-5 {
    padding: 1.25rem;
  }

  .padding-bottom-widescreen-5 {
    padding-bottom: 1.25rem;
  }

  .padding-left-widescreen-5 {
    padding-left: 1.25rem;
  }

  .padding-right-widescreen-5 {
    padding-right: 1.25rem;
  }

  .padding-top-widescreen-5 {
    padding-top: 1.25rem;
  }

  .padding-x-widescreen-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-y-widescreen-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}
@media (min-width: 1480px) {
  .padding-fullhd-0 {
    padding: 0;
  }

  .padding-bottom-fullhd-0 {
    padding-bottom: 0;
  }

  .padding-left-fullhd-0 {
    padding-left: 0;
  }

  .padding-right-fullhd-0 {
    padding-right: 0;
  }

  .padding-top-fullhd-0 {
    padding-top: 0;
  }

  .padding-x-fullhd-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-y-fullhd-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .padding-fullhd-1 {
    padding: 0.25rem;
  }

  .padding-bottom-fullhd-1 {
    padding-bottom: 0.25rem;
  }

  .padding-left-fullhd-1 {
    padding-left: 0.25rem;
  }

  .padding-right-fullhd-1 {
    padding-right: 0.25rem;
  }

  .padding-top-fullhd-1 {
    padding-top: 0.25rem;
  }

  .padding-x-fullhd-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .padding-y-fullhd-1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }

  .padding-fullhd-2 {
    padding: 0.5rem;
  }

  .padding-bottom-fullhd-2 {
    padding-bottom: 0.5rem;
  }

  .padding-left-fullhd-2 {
    padding-left: 0.5rem;
  }

  .padding-right-fullhd-2 {
    padding-right: 0.5rem;
  }

  .padding-top-fullhd-2 {
    padding-top: 0.5rem;
  }

  .padding-x-fullhd-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .padding-y-fullhd-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .padding-fullhd-3 {
    padding: 0.75rem;
  }

  .padding-bottom-fullhd-3 {
    padding-bottom: 0.75rem;
  }

  .padding-left-fullhd-3 {
    padding-left: 0.75rem;
  }

  .padding-right-fullhd-3 {
    padding-right: 0.75rem;
  }

  .padding-top-fullhd-3 {
    padding-top: 0.75rem;
  }

  .padding-x-fullhd-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .padding-y-fullhd-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .padding-fullhd-4 {
    padding: 1rem;
  }

  .padding-bottom-fullhd-4 {
    padding-bottom: 1rem;
  }

  .padding-left-fullhd-4 {
    padding-left: 1rem;
  }

  .padding-right-fullhd-4 {
    padding-right: 1rem;
  }

  .padding-top-fullhd-4 {
    padding-top: 1rem;
  }

  .padding-x-fullhd-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-y-fullhd-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .padding-fullhd-5 {
    padding: 1.25rem;
  }

  .padding-bottom-fullhd-5 {
    padding-bottom: 1.25rem;
  }

  .padding-left-fullhd-5 {
    padding-left: 1.25rem;
  }

  .padding-right-fullhd-5 {
    padding-right: 1.25rem;
  }

  .padding-top-fullhd-5 {
    padding-top: 1.25rem;
  }

  .padding-x-fullhd-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-y-fullhd-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}
/* Конец раздел: padding. */