@import "../kernel/variables";
/* Раздел: бейджи. */
.badge {
    border-radius: map-get($border-radius-sizes, 1);
    font-size: map-get($sizes, 3);
    font-weight: 700;
    line-height: 1;
    padding: $badge-padding;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: map-get($colors, base-strong);
    color: map-get($colors, base-weak);
}

@each $name, $color in $badge-hover-effect {
    .badge.background-#{$name}[class*="badge-hover"]:hover {
        background-color: $color;
    }
}
/* Конец раздела: бейджи. */