@charset "UTF-8";
/* Раздел: бейджи. */
.badge {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #000000;
  color: #ffffff;
}

.badge.background-accent-strong[class*=badge-hover]:hover {
  background-color: #0064e5;
}

.badge.background-base-strong[class*=badge-hover]:hover {
  background-color: #323232;
}

.badge.background-complement-strong[class*=badge-hover]:hover {
  background-color: #7a7bcb;
}

.badge.background-critic-strong[class*=badge-hover]:hover {
  background-color: #de3e3e;
}

.badge.background-faint-strong[class*=badge-hover]:hover {
  background-color: #7b8595;
}

.badge.background-success-strong[class*=badge-hover]:hover {
  background-color: #239c56;
}

.badge.background-warning-strong[class*=badge-hover]:hover {
  background-color: #f2ab4e;
}

/* Конец раздела: бейджи. */