@import "../kernel/variables";
/* Раздел: рамки. */
.border {
    border: $border;
}

.border-0 {
    border: 0;
}

@each $side in bottom, left, right, top {
    .border-#{$side} {
        border-#{$side}: $border;
    }
    .border-#{$side}-0 {
        border-#{$side}: 0;
    }
}

@each $size, $value in $border-radius-sizes {
    .rounded-#{$size} {
        border-radius: $value;
    }
    @each $side in bottom, top {
        .rounded-#{$side}-#{$size} {
            border-#{$side}-left-radius: $value;
            border-#{$side}-right-radius: $value;
        }
        @each $side2 in left, right {
            .rounded-#{$side}-#{$side2}-#{$size} {
                border-#{$side}-#{$side2}-radius: $value;
            }
        }
    }
    @each $side2 in left, right {
        .rounded-#{$side2}-#{$size} {
            border-top-#{$side2}-radius: $value;
            border-bottom-#{$side2}-radius: $value;
        }
    }
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-pill {
    @include rounded;
}
/* Конец раздела: рамки. */