@charset "UTF-8";
/* Раздел: рамки. */
.border {
  border: 1px solid #dee2e6;
}

.border-0 {
  border: 0;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-left {
  border-left: 1px solid #dee2e6;
}

.border-left-0 {
  border-left: 0;
}

.border-right {
  border-right: 1px solid #dee2e6;
}

.border-right-0 {
  border-right: 0;
}

.border-top {
  border-top: 1px solid #dee2e6;
}

.border-top-0 {
  border-top: 0;
}

.rounded-1 {
  border-radius: 0.25rem;
}

.rounded-bottom-1 {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-bottom-left-1 {
  border-bottom-left-radius: 0.25rem;
}

.rounded-bottom-right-1 {
  border-bottom-right-radius: 0.25rem;
}

.rounded-top-1 {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-top-left-1 {
  border-top-left-radius: 0.25rem;
}

.rounded-top-right-1 {
  border-top-right-radius: 0.25rem;
}

.rounded-left-1 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-right-1 {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-2 {
  border-radius: 0.5rem;
}

.rounded-bottom-2 {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-bottom-left-2 {
  border-bottom-left-radius: 0.5rem;
}

.rounded-bottom-right-2 {
  border-bottom-right-radius: 0.5rem;
}

.rounded-top-2 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-top-left-2 {
  border-top-left-radius: 0.5rem;
}

.rounded-top-right-2 {
  border-top-right-radius: 0.5rem;
}

.rounded-left-2 {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-right-2 {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-3 {
  border-radius: 0.75rem;
}

.rounded-bottom-3 {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.rounded-bottom-left-3 {
  border-bottom-left-radius: 0.75rem;
}

.rounded-bottom-right-3 {
  border-bottom-right-radius: 0.75rem;
}

.rounded-top-3 {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.rounded-top-left-3 {
  border-top-left-radius: 0.75rem;
}

.rounded-top-right-3 {
  border-top-right-radius: 0.75rem;
}

.rounded-left-3 {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-right-3 {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 1rem;
}

.rounded-bottom-4 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.rounded-bottom-left-4 {
  border-bottom-left-radius: 1rem;
}

.rounded-bottom-right-4 {
  border-bottom-right-radius: 1rem;
}

.rounded-top-4 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.rounded-top-left-4 {
  border-top-left-radius: 1rem;
}

.rounded-top-right-4 {
  border-top-right-radius: 1rem;
}

.rounded-left-4 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-right-4 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.rounded-5 {
  border-radius: 1.25rem;
}

.rounded-bottom-5 {
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.rounded-bottom-left-5 {
  border-bottom-left-radius: 1.25rem;
}

.rounded-bottom-right-5 {
  border-bottom-right-radius: 1.25rem;
}

.rounded-top-5 {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.rounded-top-left-5 {
  border-top-left-radius: 1.25rem;
}

.rounded-top-right-5 {
  border-top-right-radius: 1.25rem;
}

.rounded-left-5 {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.rounded-right-5 {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: 50rem;
}

/* Конец раздела: рамки. */