@import "../kernel/variables";
/* Раздел: коробки. */
.box {
    background-color: map-get($colors, base-weak);
    border-radius: map-get($sizes, 2);
    box-shadow: 0 0.5em 1em -0.125rem rgba(10, 10, 10, 0.15), 0 1px 0 1px rgba(10, 10, 10, 0.05);
    color:  map-get($colors, base-strong);
    display: block;
    padding: map-get($sizes, 5);
}

/* Конец раздела: коробки. */