@charset "UTF-8";
/* Раздел: коробки. */
.box {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5em 1em -0.125rem rgba(10, 10, 10, 0.15), 0 1px 0 1px rgba(10, 10, 10, 0.05);
  color: #000000;
  display: block;
  padding: 1.25rem;
}

/* Конец раздела: коробки. */

/*# sourceMappingURL=box.css.map */
