@import "../kernel/variables";
/* Раздел: кнопки. */
button {
    font-family: inherit;
    margin: 0;

    &:not(:disabled) {
        cursor: pointer;
    }
}

a.button {
	text-decoration: none;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
 	 cursor: pointer;
}

.button {
    background-color: map-get($colors, base-weak);
    border: $border;
    border-radius: map-get($border-radius-sizes, 1);
	color: map-get($colors, base-strong); 
    display: inline-block;
    font-size: $font-size;
    line-height: $line-height;
    padding: $button-padding;
	text-align: center;
	vertical-align: middle;

    &:hover:not(:disabled) {
        border-color: #b5b5b5; 
    }
    &:focus {
        outline: 0;
    }
    &:focus:not(:active) {
        border-color: #b5b5b5;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    &[disabled] {
        opacity: 0.5;
    }
}

@each $size, $value in $button-font-size {
    .button-#{$size}, .button-group-#{$size} > .button {
        @if $size=="small" {
            padding: $button-small-padding;
        }
        font-size: $value;
        line-height: $line-height;
    }
}

.button-fullwidth {
    display: block;
    width: 100%;
}

.button-rounded {
    @include rounded;
    padding-left: .95rem;
    padding-right: .95rem;
}

@mixin button-group {
    display: inline-flex;
    position: relative;
    .button:hover {
        z-index: 2;
    }
    .button:focus {
        z-index: 3;
    }
    .button:focus:hover {
        z-index: 4;
    }
}

.button-group {
    @include button-group;
    > .button:not(:last-child) {
        border-bottom-right-radius: 0;
  	    border-top-right-radius: 0;
  	    margin-right: -1px;
    }
    > .button:not(:first-child) {
        border-bottom-left-radius: 0;
  	    border-top-left-radius: 0;
    }
    > .button:last-child {
        margin-right: 0;
    }
}

.button-group-vertical {
    @include button-group;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    > .button {
        width: 100%;
    }
    > .button:not(:first-child) {
	    border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -1px;
    }
    > .button:not(:last-child) {
        border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
    }
}

/* Кнопки с цветами. */
@each $name, $value in $button-color {
    .button-#{$name} {
        background-color: $value;
        border-color: $value;
        color: map-get($colors, base-weak);
    }
}

@each $name, $value in $button-hover-effect {
    .button-#{$name}:hover:not(:disabled) {
        background-color: $value;
        border-color: $value;
    }
    .button-#{$name}:focus:not(:active) {
        background-color: $value;
        border-color: $value;
        box-shadow: 0 0 0 0.2rem map-get($button-focus-shadow, $name);
    }
}

/* Кнопки с обводкой */
@each $name, $value in $button-color {
    .button-outline-#{$name} {
        background-color: map-get($colors, base-weak);
        border-color: $value;
        color: $value;
    }
    .button-outline-#{$name}:hover:not(:disabled) {
        background-color: $value;
        border-color: $value;
        color: map-get($colors, base-weak);
    }
    .button-outline-#{$name}:focus:not(:active) {
        background-color: $value;
        border-color: $value;
        box-shadow: 0 0 0 0.2rem map-get($button-focus-shadow, $name);
        color: map-get($colors, base-weak);
    }
}
/* Конец раздела: кнопки. */
