@charset "UTF-8";
/* Раздел: кнопки. */
button {
  font-family: inherit;
  margin: 0;
}
button:not(:disabled) {
  cursor: pointer;
}

a.button {
  text-decoration: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

.button {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  color: #000000;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.37rem 0.75rem 0.37rem 0.75rem;
  text-align: center;
  vertical-align: middle;
}
.button:hover:not(:disabled) {
  border-color: #b5b5b5;
}
.button:focus {
  outline: 0;
}
.button:focus:not(:active) {
  border-color: #b5b5b5;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.button[disabled] {
  opacity: 0.5;
}

.button-small, .button-group-small > .button {
  padding: 0.27rem 0.65rem 0.27rem 0.65rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.button-medium, .button-group-medium > .button {
  font-size: 1.25rem;
  line-height: 1.5;
}

.button-large, .button-group-large > .button {
  font-size: 1.5rem;
  line-height: 1.5;
}

.button-fullwidth {
  display: block;
  width: 100%;
}

.button-rounded {
  border-radius: 50rem;
  padding-left: 0.95rem;
  padding-right: 0.95rem;
}

.button-group {
  display: inline-flex;
  position: relative;
}
.button-group .button:hover {
  z-index: 2;
}
.button-group .button:focus {
  z-index: 3;
}
.button-group .button:focus:hover {
  z-index: 4;
}
.button-group > .button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}
.button-group > .button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.button-group > .button:last-child {
  margin-right: 0;
}

.button-group-vertical {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.button-group-vertical .button:hover {
  z-index: 2;
}
.button-group-vertical .button:focus {
  z-index: 3;
}
.button-group-vertical .button:focus:hover {
  z-index: 4;
}
.button-group-vertical > .button {
  width: 100%;
}
.button-group-vertical > .button:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}
.button-group-vertical > .button:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Кнопки с цветами. */
.button-accent {
  background-color: #0070FF;
  border-color: #0070FF;
  color: #ffffff;
}

.button-base {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.button-complement {
  background-color: #8889E2;
  border-color: #8889E2;
  color: #ffffff;
}

.button-critic {
  background-color: #F74545;
  border-color: #F74545;
  color: #ffffff;
}

.button-faint {
  background-color: #8994a6;
  border-color: #8994a6;
  color: #ffffff;
}

.button-success {
  background-color: #27AE60;
  border-color: #27AE60;
  color: #ffffff;
}

.button-warning {
  background-color: #F8AE4F;
  border-color: #F8AE4F;
  color: #ffffff;
}

.button-accent:hover:not(:disabled) {
  background-color: #0064e5;
  border-color: #0064e5;
}

.button-accent:focus:not(:active) {
  background-color: #0064e5;
  border-color: #0064e5;
  box-shadow: 0 0 0 0.2rem rgba(0, 112, 255, 0.5);
}

.button-base:hover:not(:disabled) {
  background-color: #323232;
  border-color: #323232;
}

.button-base:focus:not(:active) {
  background-color: #323232;
  border-color: #323232;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.button-complement:hover:not(:disabled) {
  background-color: #7a7bcb;
  border-color: #7a7bcb;
}

.button-complement:focus:not(:active) {
  background-color: #7a7bcb;
  border-color: #7a7bcb;
  box-shadow: 0 0 0 0.2rem rgba(136, 137, 226, 0.5);
}

.button-critic:hover:not(:disabled) {
  background-color: #de3e3e;
  border-color: #de3e3e;
}

.button-critic:focus:not(:active) {
  background-color: #de3e3e;
  border-color: #de3e3e;
  box-shadow: 0 0 0 0.2rem rgba(247, 69, 69, 0.5);
}

.button-faint:hover:not(:disabled) {
  background-color: #7b8595;
  border-color: #7b8595;
}

.button-faint:focus:not(:active) {
  background-color: #7b8595;
  border-color: #7b8595;
  box-shadow: 0 0 0 0.2rem rgba(137, 148, 166, 0.5);
}

.button-success:hover:not(:disabled) {
  background-color: #239c56;
  border-color: #239c56;
}

.button-success:focus:not(:active) {
  background-color: #239c56;
  border-color: #239c56;
  box-shadow: 0 0 0 0.2rem rgba(39, 174, 96, 0.5);
}

.button-warning:hover:not(:disabled) {
  background-color: #f2ab4e;
  border-color: #f2ab4e;
}

.button-warning:focus:not(:active) {
  background-color: #f2ab4e;
  border-color: #f2ab4e;
  box-shadow: 0 0 0 0.2rem rgba(248, 174, 79, 0.5);
}

/* Кнопки с обводкой */
.button-outline-accent {
  background-color: #ffffff;
  border-color: #0070FF;
  color: #0070FF;
}

.button-outline-accent:hover:not(:disabled) {
  background-color: #0070FF;
  border-color: #0070FF;
  color: #ffffff;
}

.button-outline-accent:focus:not(:active) {
  background-color: #0070FF;
  border-color: #0070FF;
  box-shadow: 0 0 0 0.2rem rgba(0, 112, 255, 0.5);
  color: #ffffff;
}

.button-outline-base {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.button-outline-base:hover:not(:disabled) {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.button-outline-base:focus:not(:active) {
  background-color: #000000;
  border-color: #000000;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.button-outline-complement {
  background-color: #ffffff;
  border-color: #8889E2;
  color: #8889E2;
}

.button-outline-complement:hover:not(:disabled) {
  background-color: #8889E2;
  border-color: #8889E2;
  color: #ffffff;
}

.button-outline-complement:focus:not(:active) {
  background-color: #8889E2;
  border-color: #8889E2;
  box-shadow: 0 0 0 0.2rem rgba(136, 137, 226, 0.5);
  color: #ffffff;
}

.button-outline-critic {
  background-color: #ffffff;
  border-color: #F74545;
  color: #F74545;
}

.button-outline-critic:hover:not(:disabled) {
  background-color: #F74545;
  border-color: #F74545;
  color: #ffffff;
}

.button-outline-critic:focus:not(:active) {
  background-color: #F74545;
  border-color: #F74545;
  box-shadow: 0 0 0 0.2rem rgba(247, 69, 69, 0.5);
  color: #ffffff;
}

.button-outline-faint {
  background-color: #ffffff;
  border-color: #8994a6;
  color: #8994a6;
}

.button-outline-faint:hover:not(:disabled) {
  background-color: #8994a6;
  border-color: #8994a6;
  color: #ffffff;
}

.button-outline-faint:focus:not(:active) {
  background-color: #8994a6;
  border-color: #8994a6;
  box-shadow: 0 0 0 0.2rem rgba(137, 148, 166, 0.5);
  color: #ffffff;
}

.button-outline-success {
  background-color: #ffffff;
  border-color: #27AE60;
  color: #27AE60;
}

.button-outline-success:hover:not(:disabled) {
  background-color: #27AE60;
  border-color: #27AE60;
  color: #ffffff;
}

.button-outline-success:focus:not(:active) {
  background-color: #27AE60;
  border-color: #27AE60;
  box-shadow: 0 0 0 0.2rem rgba(39, 174, 96, 0.5);
  color: #ffffff;
}

.button-outline-warning {
  background-color: #ffffff;
  border-color: #F8AE4F;
  color: #F8AE4F;
}

.button-outline-warning:hover:not(:disabled) {
  background-color: #F8AE4F;
  border-color: #F8AE4F;
  color: #ffffff;
}

.button-outline-warning:focus:not(:active) {
  background-color: #F8AE4F;
  border-color: #F8AE4F;
  box-shadow: 0 0 0 0.2rem rgba(248, 174, 79, 0.5);
  color: #ffffff;
}

/* Конец раздела: кнопки. */