@charset "UTF-8";
/* Раздел: формы. */
fieldset {
  border: 0;
}

input:not([type=range]):not([type=radio]):not([type=checkbox]).form:focus,
textarea.form:focus,
select.form:focus,
option:hover {
  border-color: #b5b5b5;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}

input:disabled,
select:disabled,
textarea:disabled,
fieldset[disabled] .checkbox,
fieldset[disabled] .radio {
  background-color: #f6f8fb;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
}

select.form[multiple] {
  height: auto;
}

textarea {
  font-family: Аrial, sans-serif;
}
textarea.form {
  height: auto;
}

.checkbox, .radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  position: relative;
}

.checkbox[disabled],
.radio[disabled] {
  color: #8994a6;
  cursor: not-allowed;
}

.file {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.file-body {
  background-color: #f6f8fb;
  color: #000000;
}

.file-name, .file-body {
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 2.5rem;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.5rem - 1px);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: calc(.5rem - 1px);
  position: relative;
  vertical-align: top;
  white-space: nowrap;
}

.file-icon {
  align-items: center;
  display: inline-flex;
  height: 1rem;
  justify-content: center;
  margin-right: 0.5rem;
  width: 1rem;
}

.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.file-label {
  align-items: stretch;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}
.file-label:hover .file-body {
  border-color: #b5b5b5;
}

.file-name {
  display: block;
  max-width: 15rem;
  overflow: hidden;
  text-align: inherit;
  text-overflow: ellipsis;
}

.file.named .file-name {
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}
.file.named .file-body {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.file.file-vertical .file-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.75rem 2rem;
}
.file.file-vertical .file-body .file-icon {
  padding-bottom: 0.25rem;
}
.file.file-vertical .file-label {
  display: flex;
  flex-direction: column;
}
.file.file-vertical.named .file-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
}
.file.file-vertical.named .file-name {
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-top: 0;
  border-left: 1px solid #dee2e6;
}

.form-inline > .form, .form, .addition-text {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  display: block;
  height: 2.363rem;
  font-size: 1rem;
  font-weight: 400;
  max-width: 100%;
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  text-align: left;
}

.form {
  background-color: #ffffff;
  width: 100%;
}
.form.not-valid {
  border-color: #F74545;
}
.form.not-valid:focus {
  border-color: #F74545 !important;
  box-shadow: 0 0 0 0.2rem rgba(247, 69, 69, 0.25) !important;
}
.form.valid {
  border-color: #27AE60;
}
.form.valid:focus {
  border-color: #27AE60 !important;
  box-shadow: 0 0 0 0.2rem rgba(39, 174, 96, 0.25) !important;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-group > .label {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}
.form-group.form-inline > .label {
  margin-bottom: 0;
  margin-top: 0;
}

.form-group.icon-left, .form-group.icon-right {
  position: relative;
}

.form-group.icon-left .icon, .form-group.icon-right .icon {
  position: absolute;
}

.form-group.icon-right .icon {
  right: 0;
}

.form-group.icon-left .form {
  padding-left: 2.5rem;
}

.form-group.icon-right .form {
  padding-right: 2.5rem;
}

.form-inline {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
}
.form-inline > .label {
  padding-right: 0.5rem;
}
.form-inline > .form {
  background-color: #ffffff;
  width: auto;
}
.form-inline > .text-help {
  padding-left: 0.5rem;
}

.icon {
  height: 2.363rem;
  pointer-events: none;
  position: absolute;
  width: 2.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.label {
  display: block;
  font-size: 0.95rem;
}

.large {
  font-size: 1.25rem;
}
.large.form {
  height: calc(2.363rem + .5rem);
}
.large .file-body,
.large .file-name {
  height: calc(2.5rem + .5rem);
}

.small {
  font-size: 0.75rem;
}
.small.form {
  height: calc(2.363rem - .5rem);
}
.small .file-body,
.small .file-name {
  height: calc(2.5rem - .5rem);
}

.text-help {
  color: #8994a6;
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.vertical {
  display: flex;
  flex-direction: column;
}

/* Дополнения к полям ввода */
.additions {
  display: flex;
  justify-content: flex-start;
}
.additions .addition.widescreen {
  flex-grow: 1;
}
.additions .addition .addition-text {
  line-height: 1.7;
}
.additions .addition .button:focus,
.additions .addition input.form:focus,
.additions .addition select.form:focus {
  position: relative;
  z-index: 4;
}
.additions .addition .button:hover {
  position: relative;
  z-index: 4;
}
.additions .addition:not(:last-child) {
  margin-right: -1px;
}
.additions .addition:not(:first-child):not(:last-child) .addition-text,
.additions .addition:not(:first-child):not(:last-child) .button,
.additions .addition:not(:first-child):not(:last-child) input.form,
.additions .addition:not(:first-child):not(:last-child) select.form {
  border-radius: 0;
}
.additions .addition:first-child:not(:only-child) .addition-text,
.additions .addition:first-child:not(:only-child) .button,
.additions .addition:first-child:not(:only-child) input.form,
.additions .addition:first-child:not(:only-child) select.form {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.additions .addition:last-child:not(:only-child) .addition-text,
.additions .addition:last-child:not(:only-child) .button,
.additions .addition:last-child:not(:only-child) input.form,
.additions .addition:last-child:not(:only-child) select.form {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Конец раздела: формы. */