@import "../kernel/variables";
/* Раздел: формы. */
fieldset {
    border: 0;
}

input:not([type="range"]):not([type="radio"]):not([type="checkbox"]).form:focus, 
textarea.form:focus, 
select.form:focus, 
option:hover {
    border-color: #b5b5b5;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0;
}

input:disabled, 
select:disabled, 
textarea:disabled, 
fieldset[disabled] .checkbox, 
fieldset[disabled] .radio
{
    background-color: map-get($colors, faint-weak);
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
}

select.form[multiple] {
    height: auto;
}

textarea {
    font-family: $font-family-sans-serif;
    &.form {
        height: auto;
    }
}

.addition-text {
    @extend %form;
}

.checkbox, .radio {
    cursor: pointer;
    display: inline-block;
    line-height: $line-height;
    position: relative;
}

.checkbox[disabled], 
.radio[disabled] {
    color: map-get($colors, faint-strong);
    cursor: not-allowed;
}

.file {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.file-body {
    @extend %file-body-and-name;
    background-color: map-get($colors, faint-weak);
    color: map-get($colors, base-strong);
}

%file-body-and-name { 
    align-items: center;
    border: $border;
    border-radius: map-get($border-radius-sizes, 1);
    height: 2.5rem;
    justify-content: flex-start;
    line-height: $line-height;
    padding-bottom: calc(.5rem - 1px);
    padding-left: map-get($sizes, 4);
    padding-right: map-get($sizes, 4);
    padding-top: calc(.5rem - 1px);
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.file-icon {
    align-items: center;
    display: inline-flex;
    height: map-get($sizes, 4);
    justify-content: center;
    margin-right: map-get($sizes, 2);
    width: map-get($sizes, 4);
}

.file-input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.file-label {
    align-items: stretch;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    &:hover .file-body {
        border-color: #b5b5b5;
    }
}

.file-name {
    @extend %file-body-and-name;
    display: block;
    max-width: $file-name-max-width;
    overflow: hidden;
    text-align: inherit;
    text-overflow: ellipsis;
}

.file.named {
    .file-name { 
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;
    }
    .file-body {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

.file.file-vertical {
    .file-body {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: map-get($sizes, 3) 2rem;
    }
    .file-body .file-icon {
        padding-bottom: map-get($sizes, 1);
    }
    .file-label {
        display:flex;
        flex-direction: column;
    }
    &.named {
        .file-body {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: map-get($sizes, 1);
        }
        .file-name {
            border-bottom-left-radius: map-get($sizes, 1);
            border-top-right-radius: 0;
            border-top: 0;
            border-left: $border;
        }
    }
}

%form {
    border: $border;
    border-radius: map-get($border-radius-sizes, 1);
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    display: block;
    height: $form-height;
    font-size: $font-size;
    font-weight: 400;
    max-width: 100%;
    line-height: $line-height;
    padding: map-get($sizes, 1) map-get($sizes, 3);
    text-align: left;
}

.form {
    @extend %form;
    background-color: map-get($colors, base-weak);
    width: 100%;
    &.not-valid {
        border-color: map-get($colors, critic-strong);
        &:focus {
            border-color: map-get($colors, critic-strong) !important;
            box-shadow: 0 0 0 0.2rem rgba(247, 69, 69, 0.25) !important;
        }
    }
    &.valid {
        border-color: map-get($colors, success-strong);
        &:focus {
            border-color: map-get($colors, success-strong) !important;
            box-shadow: 0 0 0 0.2rem rgba(39, 174, 96, 0.25) !important;
        }
    }
}

.form-group {
    margin-bottom:  map-get($sizes, 4);
    margin-top:  map-get($sizes, 4);
    > .label {
        margin-bottom: map-get($sizes, 1);
        margin-top:  map-get($sizes, 4);
    }
    &.form-inline > .label {
        margin-bottom: map-get($sizes, 0);
        margin-top: map-get($sizes, 0);
    }
}

.form-group.icon-left, .form-group.icon-right {
    position: relative;
}

.form-group.icon-left .icon, .form-group.icon-right .icon {
    position: absolute;
}

.form-group.icon-right .icon {
    right: 0;
}

.form-group.icon-left .form {
    padding-left: 2.5rem;
}

.form-group.icon-right .form {
    padding-right: 2.5rem;
}

.form-inline {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    > .label {
        padding-right: map-get($sizes, 2);
    }
    > .form {
        @extend %form;
        background-color: map-get($colors, base-weak);
        width: auto;
    }
    > .text-help {
        padding-left: map-get($sizes, 2);
    }
}

.icon { 
    height: $form-height;
    pointer-events: none;
    position: absolute;
    width: 2.5rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.label {
    display: block;
    font-size: .95rem;
}

.large {
    font-size: map-get($sizes, 5);
    &.form {
        height: calc(#{$form-height} + .5rem);
    }
    .file-body, 
    .file-name {
        height: calc(2.5rem + .5rem);
    }
}

.small {
    font-size: map-get($sizes, 3);
    &.form {
        height: calc(#{$form-height} - .5rem);
    }
    .file-body,
    .file-name {
        height: calc(2.5rem - .5rem);
    }
}

.text-help {
    color: map-get($colors, faint-strong);
    display: block;
    font-size: map-get($sizes, 3);
    margin-top: map-get($sizes, 1);
}

.vertical { 
    display: flex;
    flex-direction: column;
}

/* Дополнения к полям ввода */
.additions { // Обертка
    display: flex;
    justify-content: flex-start;
    .addition { // Каждый элемент
        &.widescreen { // Для того чтобы сделать input во всю ширину
            flex-grow: 1;
        }
        .addition-text {
            line-height: 1.7;
        }
        .button:focus,
        input.form:focus,
        select.form:focus {
            position: relative;
            z-index: 4;
        }
        .button:hover {
            position: relative;
            z-index: 4;
        }
        &:not(:last-child) {
        margin-right: -1px;
        }
        &:not(:first-child):not(:last-child) {
            .addition-text,
            .button,
            input.form,
            select.form {
                border-radius: 0;
            }
        }
        &:first-child:not(:only-child) {
            .addition-text,
            .button,
            input.form,
            select.form {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
        &:last-child:not(:only-child) {
            .addition-text,
            .button,
            input.form,
            select.form {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }
}

/* Конец раздела: формы. */