@charset "UTF-8";
/* Раздел: медиа обьекты. */
figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.figure-caption {
  font-size: 0.9rem;
  color: #8994a6;
}

.figure-img {
  margin-bottom: 0.5rem;
}

.img-frame {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

.img-widescreen {
  max-width: 100%;
  height: auto;
}

/* Конец раздела: медиа обьекты. */