@import "../kernel/variables";
/* Раздел: медиа обьекты. */
figure {
    margin: 0 0 map-get($sizes, 4);
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.figure-caption {
    font-size: .9rem;
    color: map-get($colors, faint-strong);
}

.figure-img {
    margin-bottom: map-get($sizes, 2);
}

.img-frame {
    padding: map-get($sizes, 1);
    background-color: map-get($colors, base-weak);
    border: $border;
    border-radius: map-get($sizes, 2);
    max-width: 100%;
    height: auto;
}

.img-widescreen {
    max-width: 100%;
    height: auto;
}
/* Конец раздела: медиа обьекты. */