@import "../kernel/variables";
/* Раздел: уведомление. */
/* Стандартное уведомление */
.notification {
    background-color: map-get($colors, base-weak);
    color: map-get($colors, base-strong);
    border-radius: map-get($sizes, 2);
    padding: $notification-padding;
    position: relative;
    margin-bottom: map-get($sizes, 2);
    > .close {
        position: absolute;
        right: map-get($sizes, 2);
        top: map-get($sizes, 2);
    }
    p:last-child {
        margin-bottom: map-get($sizes, 0);
    }
    a {
        color: currentColor;
    }
}

.close {
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(10, 10, 10, 0.1);
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    vertical-align: top;

    &::before {
        @extend %close;
        height: 2px;
        width: 50%;
    }

    &::after {
        @extend %close;
        height: 50%;
    width: 2px;
    }
    &:hover {
        @extend %hover;
    }
    &:focus {
        @extend %hover;
    }
    &:active {
        background-color: rgba(10, 10, 10, 0.3);
    }
}

%close {
    background-color: map-get($colors, base-weak);
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

%hover {
    background-color: rgba(10, 10, 10, 0.2);
}

.notification-body {
    color: inherit;
}

.notification-header {
    color: inherit;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    padding-bottom: map-get($sizes, 2);
    margin-bottom: map-get($sizes, 4);
}

/* Цветные уведомления */
@each $name, $value in $notification-background-color {
    .notification-#{$name} {
        background-color: $value;
        color: map-get($notification-text-color, $name);
        hr {
            border-color: map-get($notification-border-color, $name);
        }
        .notification-header {
            border-color: map-get($notification-border-color, $name);
        }
    }
}

@each $name, $value in $notification-background-color {
    .notification-#{$name}-bordered {
        background-color: $value;
        border: 1px solid map-get($notification-border-color, $name);
        color: map-get($notification-text-color, $name);
        hr {
            border-color: map-get($notification-border-color, $name);
        }
        .notification-header {
            border-color: map-get($notification-border-color, $name);
        }
    }
}
/* Конец раздела: уведомление. */