@charset "UTF-8";
/* Раздел: уведомление. */
/* Стандартное уведомление */
.notification {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.notification > .close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.notification p:last-child {
  margin-bottom: 0;
}
.notification a {
  color: currentColor;
}

.close {
  -webkit-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(10, 10, 10, 0.1);
  border-radius: 100%;
  min-height: 20px;
  min-width: 20px;
  position: relative;
  vertical-align: top;
}
.close::before {
  height: 2px;
  width: 50%;
}
.close::after {
  height: 50%;
  width: 2px;
}
.close:active {
  background-color: rgba(10, 10, 10, 0.3);
}

.close::before, .close::after {
  background-color: #ffffff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.close:hover, .close:focus {
  background-color: rgba(10, 10, 10, 0.2);
}

.notification-body {
  color: inherit;
}

.notification-header {
  color: inherit;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

/* Цветные уведомления */
.notification-accent {
  background-color: #EBF4FF;
  color: #0070FF;
}
.notification-accent hr {
  border-color: rgba(0, 112, 255, 0.2);
}
.notification-accent .notification-header {
  border-color: rgba(0, 112, 255, 0.2);
}

.notification-base {
  background-color: #ffffff;
  color: #000000;
}
.notification-base hr {
  border-color: rgba(0, 0, 0, 0.2);
}
.notification-base .notification-header {
  border-color: rgba(0, 0, 0, 0.2);
}

.notification-complement {
  background-color: #EEECFD;
  color: #8889E2;
}
.notification-complement hr {
  border-color: rgba(136, 137, 226, 0.2);
}
.notification-complement .notification-header {
  border-color: rgba(136, 137, 226, 0.2);
}

.notification-critic {
  background-color: #FDEDED;
  color: #F74545;
}
.notification-critic hr {
  border-color: rgba(247, 69, 69, 0.2);
}
.notification-critic .notification-header {
  border-color: rgba(247, 69, 69, 0.2);
}

.notification-faint {
  background-color: #f6f8fb;
  color: #8994a6;
}
.notification-faint hr {
  border-color: rgba(137, 148, 166, 0.2);
}
.notification-faint .notification-header {
  border-color: rgba(137, 148, 166, 0.2);
}

.notification-success {
  background-color: #DEF8E9;
  color: #27AE60;
}
.notification-success hr {
  border-color: rgba(39, 174, 96, 0.2);
}
.notification-success .notification-header {
  border-color: rgba(39, 174, 96, 0.2);
}

.notification-warning {
  background-color: #FCEBCF;
  color: #F8AE4F;
}
.notification-warning hr {
  border-color: rgba(248, 174, 79, 0.2);
}
.notification-warning .notification-header {
  border-color: rgba(248, 174, 79, 0.2);
}

.notification-accent-bordered {
  background-color: #EBF4FF;
  border: 1px solid rgba(0, 112, 255, 0.2);
  color: #0070FF;
}
.notification-accent-bordered hr {
  border-color: rgba(0, 112, 255, 0.2);
}
.notification-accent-bordered .notification-header {
  border-color: rgba(0, 112, 255, 0.2);
}

.notification-base-bordered {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
}
.notification-base-bordered hr {
  border-color: rgba(0, 0, 0, 0.2);
}
.notification-base-bordered .notification-header {
  border-color: rgba(0, 0, 0, 0.2);
}

.notification-complement-bordered {
  background-color: #EEECFD;
  border: 1px solid rgba(136, 137, 226, 0.2);
  color: #8889E2;
}
.notification-complement-bordered hr {
  border-color: rgba(136, 137, 226, 0.2);
}
.notification-complement-bordered .notification-header {
  border-color: rgba(136, 137, 226, 0.2);
}

.notification-critic-bordered {
  background-color: #FDEDED;
  border: 1px solid rgba(247, 69, 69, 0.2);
  color: #F74545;
}
.notification-critic-bordered hr {
  border-color: rgba(247, 69, 69, 0.2);
}
.notification-critic-bordered .notification-header {
  border-color: rgba(247, 69, 69, 0.2);
}

.notification-faint-bordered {
  background-color: #f6f8fb;
  border: 1px solid rgba(137, 148, 166, 0.2);
  color: #8994a6;
}
.notification-faint-bordered hr {
  border-color: rgba(137, 148, 166, 0.2);
}
.notification-faint-bordered .notification-header {
  border-color: rgba(137, 148, 166, 0.2);
}

.notification-success-bordered {
  background-color: #DEF8E9;
  border: 1px solid rgba(39, 174, 96, 0.2);
  color: #27AE60;
}
.notification-success-bordered hr {
  border-color: rgba(39, 174, 96, 0.2);
}
.notification-success-bordered .notification-header {
  border-color: rgba(39, 174, 96, 0.2);
}

.notification-warning-bordered {
  background-color: #FCEBCF;
  border: 1px solid rgba(248, 174, 79, 0.2);
  color: #F8AE4F;
}
.notification-warning-bordered hr {
  border-color: rgba(248, 174, 79, 0.2);
}
.notification-warning-bordered .notification-header {
  border-color: rgba(248, 174, 79, 0.2);
}

/* Конец раздела: уведомление. */