@import "../kernel/variables";
/* Раздел: тени. */
.shadow-none {
    box-shadow: none;
}

@each $name, $value in $box-shadow {
    .shadow-#{$name} {
        box-shadow: 0 #{$value} #{$value} $box-shadow-color;
    }
}
/* Конец раздела: тени. */