@charset "UTF-8";
/* Раздел: тени. */
.shadow-none {
  box-shadow: none;
}

.shadow-1 {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
}

.shadow-2 {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.shadow-3 {
  box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.1);
}

.shadow-4 {
  box-shadow: 0 0.9rem 0.9rem rgba(0, 0, 0, 0.1);
}

.shadow-5 {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/* Конец раздела: тени. */