@import "../kernel/variables";
/* Раздел: таблицы. */
@mixin scrolling {
    display: block;
    width: 100%;
    overflow-x: auto;
}

caption {
    padding-top: map-get($sizes, 3);
    padding-bottom: map-get($sizes, 3);
    color: map-get($colors, faint-strong);
    text-align: left;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: map-get($sizes, 4);
    color: map-get($colors, base-strong);
    border: 0;
    th {
        padding: map-get($sizes, 2);
        vertical-align: top;
        border-top: $border;
    }
    td {
        padding: map-get($sizes, 2);
        vertical-align: top;
        border-top: $border;
    }
    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
}

.table-bordered {
    border: $border;
    th {
        border: $border;
    }
    td {
        border: $border;
    }
}

.table-borderless {
    th {
        border: 0;
    }
    td {
        border: 0;
    }
    thead th {
        border: 0;
    }
}

.table-small {
    th {
        padding:  map-get($sizes, 1);
    }
     td {
        padding:  map-get($sizes, 1);
    }
}

.table-scrolling {
    @include scrolling;
}

.table-stripped tbody tr:nth-of-type(odd) {
    background-color: $table-border-color;
}

.table-hover tbody tr:hover {
    background-color: $table-border-color;
}

@each $name, $value in $table-scrolling {
    @media (max-width: #{$value}) {
        .table-scrolling-#{$name} {
            @include scrolling;
        }
    }
}
/* Конец раздела: таблицы. */