@charset "UTF-8";
/* Раздел: таблицы. */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #8994a6;
  text-align: left;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #000000;
  border: 0;
}
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-borderless th {
  border: 0;
}
.table-borderless td {
  border: 0;
}
.table-borderless thead th {
  border: 0;
}

.table-small th {
  padding: 0.25rem;
}
.table-small td {
  padding: 0.25rem;
}

.table-scrolling {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-stripped tbody tr:nth-of-type(odd) {
  background-color: #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: #dee2e6;
}

@media (max-width: 575.98px) {
  .table-scrolling-mobile {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
@media (max-width: 767.98px) {
  .table-scrolling-tablet {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
@media (max-width: 1023.98px) {
  .table-scrolling-desktop {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
@media (max-width: 1215.98px) {
  .table-scrolling-widescreen {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
@media (max-width: 1407.98px) {
  .table-scrolling-fullhd {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
/* Конец раздела: таблицы. */