@charset "UTF-8";
/* Раздел: типография. */
abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  cursor: help;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

b {
  font-weight: bolder;
}

blockquote {
  margin: 0 0 1rem;
}

code {
  background-color: #000000;
  border-radius: 0.2rem;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.15rem 0.4rem;
  word-wrap: break-word;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: visible;
}

h1 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 2.5rem;
}

.h1 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

h2 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 2rem;
}

.h2 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1.75rem;
}

.h3 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

h4 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1.5rem;
}

.h4 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h5 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1.25rem;
}

.h5 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1rem;
}

.h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

kbd {
  background-color: #000000;
  border-radius: 0.2rem;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem;
}

kbd kbd {
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

pre {
  color: #000000;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
}

pre code {
  background-color: inherit;
  border: 0;
  color: inherit;
  font-size: inherit;
  word-break: normal;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

mark,
.mark {
  background-color: #fcf8e3;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

small, .small {
  font-size: 0.8rem;
  font-weight: 400;
}

strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 0.7rem;
  line-height: 0;
}

.blockquote {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.blockquote-footer {
  color: #8994a6;
  display: block;
  font-size: 0.8rem;
}
.blockquote-footer::before {
  content: "— ";
}

.list-unstyled, .list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.75rem;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-wrap {
  white-space: normal;
}

.text-lighter {
  font-weight: lighter;
}

@media (min-width: 576px) {
  .list-mobile-inline {
    list-style: none;
    padding-left: 0;
  }

  .list-mobile-inline-item {
    display: inline-block;
  }
  .list-mobile-inline-item:not(:last-child) {
    margin-right: 0.75rem;
  }

  .text-mobile-center {
    text-align: center;
  }

  .text-mobile-justify {
    text-align: justify;
  }

  .text-mobile-left {
    text-align: left;
  }

  .text-mobile-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .list-tablet-inline {
    list-style: none;
    padding-left: 0;
  }

  .list-tablet-inline-item {
    display: inline-block;
  }
  .list-tablet-inline-item:not(:last-child) {
    margin-right: 0.75rem;
  }

  .text-tablet-center {
    text-align: center;
  }

  .text-tablet-justify {
    text-align: justify;
  }

  .text-tablet-left {
    text-align: left;
  }

  .text-tablet-right {
    text-align: right;
  }
}
@media (min-width: 1024px) {
  .list-desktop-inline {
    list-style: none;
    padding-left: 0;
  }

  .list-desktop-inline-item {
    display: inline-block;
  }
  .list-desktop-inline-item:not(:last-child) {
    margin-right: 0.75rem;
  }

  .text-desktop-center {
    text-align: center;
  }

  .text-desktop-justify {
    text-align: justify;
  }

  .text-desktop-left {
    text-align: left;
  }

  .text-desktop-right {
    text-align: right;
  }
}
@media (min-width: 1216px) {
  .list-widescreen-inline {
    list-style: none;
    padding-left: 0;
  }

  .list-widescreen-inline-item {
    display: inline-block;
  }
  .list-widescreen-inline-item:not(:last-child) {
    margin-right: 0.75rem;
  }

  .text-widescreen-center {
    text-align: center;
  }

  .text-widescreen-justify {
    text-align: justify;
  }

  .text-widescreen-left {
    text-align: left;
  }

  .text-widescreen-right {
    text-align: right;
  }
}
@media (min-width: 1480px) {
  .list-fullhd-inline {
    list-style: none;
    padding-left: 0;
  }

  .list-fullhd-inline-item {
    display: inline-block;
  }
  .list-fullhd-inline-item:not(:last-child) {
    margin-right: 0.75rem;
  }

  .text-fullhd-center {
    text-align: center;
  }

  .text-fullhd-justify {
    text-align: justify;
  }

  .text-fullhd-left {
    text-align: left;
  }

  .text-fullhd-right {
    text-align: right;
  }
}
/* Конец раздела: типография. */