@import "../kernel/variables";
/* Раздел: типография. */
abbr[title],
abbr[data-original-title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

address {
    font-style: normal;
    line-height: inherit;
    margin-bottom: map-get($sizes, 4);
}

b {
    font-weight: bolder;
}

blockquote {
    margin: 0 0 map-get($sizes, 4);
}

code {
    background-color: map-get($colors, base-strong);
    border-radius: 0.2rem;
    color: map-get($colors, base-weak);
    font-size: .9rem;
    padding: 0.15rem 0.4rem;
    word-wrap: break-word;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: map-get($sizes, 2);
    margin-left: 0;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    margin-bottom: map-get($sizes, 4);
    margin-top: map-get($sizes, 4);
    overflow: visible;
}

@mixin header {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: map-get($sizes, 2);
    margin-top: 0;
}

@mixin class-header {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: map-get($sizes, 2);
}

@each $number, $value in $header {
    h#{$number} {
        @include header;
        font-size: $value;
    }
    .h#{$number} {
        @include class-header;
        font-size: $value;
    }
}

kbd {
    background-color: map-get($colors, base-strong);
    border-radius: 0.2rem;
    color: map-get($colors, base-weak);
    font-size: .9rem;
    padding: 0.2rem 0.4rem;
}

kbd kbd {
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
}

p {
    margin-bottom: map-get($sizes, 4);
    margin-top: 0;
}

pre {
    color: map-get($colors, base-strong);
    display: block;
    font-size: .9rem;
    margin-bottom: map-get($sizes, 4);
    margin-top: 0;
    overflow: auto;
}

pre code {
    background-color: inherit;
    border: 0;
    color: inherit;
    font-size: inherit;
    word-break: normal;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ol,
ul,
dl {
    margin-bottom: map-get($sizes, 4);
    margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

mark,
.mark {
    background-color: #fcf8e3;
    border-radius: map-get($sizes, 1);
    padding: map-get($sizes, 1);
}

small, .small {
    font-size: .8rem;
    font-weight: 400;
}

strong {
    font-weight: bolder;
}

sub,
sup {
    font-size: .7rem;
    line-height: 0;
}

.blockquote {
    font-size: map-get($sizes, 5);
    margin-bottom: map-get($sizes, 4);
}

.blockquote-footer {
    color: map-get($colors, faint-strong);
    display: block;
    font-size: .8rem;
    &::before {
        content: "\2014\00A0";
    }
}

.list-unstyled, .list-inline {
    list-style: none;
    padding-left: 0;
}

.list-inline-item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: map-get($sizes, 3);
    }
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.text-break {
    word-break: break-word;
    overflow-wrap: break-word;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.text-decoration-none {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-wrap {
    white-space: normal;
}

// нужен ли этот класс, если нужен - перенести в font
.text-lighter {
    font-weight: lighter;
}

@each $name, $value in $breakpoints {
    @media (min-width: #{$value}) {
        .list-#{$name}-inline {
            list-style: none;
            padding-left: 0;
        }
        
        .list-#{$name}-inline-item {
            display: inline-block;
            &:not(:last-child) {
                margin-right: map-get($sizes, 3);
            }
        }

        .text-#{$name}-center {
            text-align: center;
        }
        
        .text-#{$name}-justify {
            text-align: justify;
        }
    
        .text-#{$name}-left {
            text-align: left;
        }
    
        .text-#{$name}-right {
            text-align: right;
        }
    }
}

/* Конец раздела: типография. */