.badge {
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    text-decoration: none;
}

.badge.background-critic-strong[class*="is_hover"]:hover {
    background-color: var(--critic-strong-up);
}

.badge.background-success-strong[class*="is_hover"]:hover {
    background-color: var(--success-strong-up);
}

.badge.background-warning-strong[class*="is_hover"]:hover {
    background-color: var(--warning-strong-up);
}

.badge.background-base-strong[class*="is_hover"]:hover {
    background-color: var(--base-strong-up);
}

.badge.background-faint-strong[class*="is_hover"]:hover {
    background-color: var(--faint-strong-up);
}

.badge.background-accent-strong[class*="is_hover"]:hover {
    background-color: var(--accent-strong-up);
}
