.rounded-1 {
    border-radius: var(--size-1);
}

.rounded-top-1 {
    border-top-left-radius: var(--size-1);
    border-top-right-radius: var(--size-1);
}

.rounded-bottom-1 {
    border-bottom-left-radius: var(--size-1);
    border-bottom-right-radius: var(--size-1);
}

.rounded-left-1 {
    border-top-left-radius: var(--size-1);
    border-bottom-left-radius: var(--size-1);
}

.rounded-right-1 {
    border-top-right-radius: var(--size-1);
    border-bottom-right-radius: var(--size-1);
}

.rounded-top-left-1 {
    border-top-left-radius: var(--size-1);
}

.rounded-top-right-1 {
    border-top-right-radius: var(--size-1);
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: var(--size-1);
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: var(--size-1);
}

.rounded-2 {
    border-radius: var(--size-2);
}

.rounded-top-2 {
    border-top-left-radius: var(--size-2);
    border-top-right-radius: var(--size-2);
}

.rounded-bottom-2 {
    border-bottom-left-radius: var(--size-2);
    border-bottom-right-radius: var(--size-2);
}

.rounded-left-2 {
    border-top-left-radius: var(--size-2);
    border-bottom-left-radius: var(--size-2);
}

.rounded-right-2 {
    border-top-right-radius: var(--size-2);
    border-bottom-right-radius: var(--size-2);
}

.rounded-top-left-2 {
    border-top-left-radius: var(--size-2);
}

.rounded-top-right-2 {
    border-top-right-radius: var(--size-2);
}

.rounded-bottom-left-2 {
    border-bottom-left-radius: var(--size-2);
}

.rounded-bottom-right-2 {
    border-bottom-right-radius: var(--size-2);
}


.rounded-3 {
    border-radius: var(--size-3);
}

.rounded-top-3 {
    border-top-left-radius: var(--size-3);
    border-top-right-radius: var(--size-3);
}

.rounded-bottom-3 {
    border-bottom-left-radius: var(--size-3);
    border-bottom-right-radius: var(--size-3);
}

.rounded-left-3 {
    border-top-left-radius: var(--size-3);
    border-bottom-left-radius: var(--size-3);
}

.rounded-right-3 {
    border-top-right-radius: var(--size-3);
    border-bottom-right-radius: var(--size-3);
}

.rounded-top-left-3 {
    border-top-left-radius: var(--size-3);
}

.rounded-top-right-3 {
    border-top-right-radius: var(--size-3);
}

.rounded-bottom-left-3 {
    border-bottom-left-radius: var(--size-3);
}

.rounded-bottom-right-3 {
    border-bottom-right-radius: var(--size-3);
}

.rounded-4 {
    border-radius: var(--size-4);
}

.rounded-top-4 {
    border-top-left-radius: var(--size-4);
    border-top-right-radius: var(--size-4);
}

.rounded-bottom-4 {
    border-bottom-left-radius: var(--size-4);
    border-bottom-right-radius: var(--size-4);
}

.rounded-left-4 {
    border-top-left-radius: var(--size-4);
    border-bottom-left-radius: var(--size-4);
}

.rounded-right-4 {
    border-top-right-radius: var(--size-4);
    border-bottom-right-radius: var(--size-4);
}

.rounded-top-left-4 {
    border-top-left-radius: var(--size-4);
}

.rounded-top-right-4 {
    border-top-right-radius: var(--size-4);
}

.rounded-bottom-left-4 {
    border-bottom-left-radius: var(--size-4);
}

.rounded-bottom-right-4 {
    border-bottom-right-radius: var(--size-4);
}

.rounded-5 {
    border-radius: var(--size-5);
}

.rounded-top-5 {
    border-top-left-radius: var(--size-5);
    border-top-right-radius: var(--size-5);
}

.rounded-bottom-5 {
    border-bottom-left-radius: var(--size-5);
    border-bottom-right-radius: var(--size-5);
}

.rounded-left-5 {
    border-top-left-radius: var(--size-5);
    border-bottom-left-radius: var(--size-5);
}

.rounded-right-5 {
    border-top-right-radius: var(--size-5);
    border-bottom-right-radius: var(--size-5);
}

.rounded-top-left-5 {
    border-top-left-radius: var(--size-5);
}

.rounded-top-right-5 {
    border-top-right-radius: var(--size-5);
}

.rounded-bottom-left-5 {
    border-bottom-left-radius: var(--size-5);
}

.rounded-bottom-right-5 {
    border-bottom-right-radius: var(--size-5);
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-pill {
    border-radius: 50rem;
}

.border {
    border: 1px solid #dee2e8;
}

.border-top {
    border-top: 1px solid #dee2e6;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.border-left {
    border-left: 1px solid #dee2e6;
}

.border-right {
    border-right: 1px solid #dee2e6;
}

.border-0 {
    border: 0;
}

.border-top-0 {
    border-top: 0;
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-left-0 {
    border-left: 0;
}

.border-right-0 {
    border-right: 0;
}
