.box {
    display: block;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5em 1em -0.125rem rgba(10, 10, 10, 0.15), 0 1px 0 1px rgba(10, 10, 10, 0.05);
    color: #363636;
    padding: var(--default-size);
}

.box:not(:last-child) {
    margin-bottom: var(--default-size);
}
