button {
  	margin: 0;
  	font-family: inherit;
}

a.button {
	text-decoration: none;
}

.button {
	background-color: white;
	border: 1px solid #dee2e6;
	color: #363636; 
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 0.37rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.35rem;
	line-height: 1.5;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
 	 cursor: pointer;
}

.button:hover:not(:disabled) {
	border-color: #b5b5b5; 
}

.button:focus {
	outline: 0;
}

.button:focus:not(:active) {
  	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  	border-color: #b5b5b5;
}

.button[disabled] {
	opacity: 0.5;
}

.button-small, .button-group-small > .button {
	padding: 0.27rem 0.65rem;
	font-size: 0.75rem;
	line-height: 1.5;
}

.button-medium, .button-group-medium > .button {
	font-size: 1.25rem;
	line-height: 1.5;
}

.button-large, .button-group-large > .button {
	font-size: 1.5rem;
	line-height: 1.5;
}

.button-fullwidth {
	display: block;
	width: 100%;
}

.button-rounded {
	border-radius: 5rem;
	padding-left: 0.95rem;
	padding-right: 0.95rem;
}

.button-critic { 
	border-color: #ef4e4e;
	background-color: #ef4e4e;
	color: white;
}

.button-critic:hover:not(:disabled) {
	border-color: #e12d39;
	background-color:#e12d39;
}

.button-critic:focus:not(:active) {
	border-color: #ef4e4e;
	background-color:#e12d39;
	box-shadow: 0 0 0 0.2rem rgba(239,78,78,0.5);
}

.button-group, .button-group-vertical {
	position: relative;
  	display: inline-flex;
}

.button-group > .button:not(:last-child) {
	border-bottom-right-radius: 0;
  	border-top-right-radius: 0;
  	margin-right: -1px;
}
.button-group > .button:not(:first-child) {
	border-bottom-left-radius: 0;
  	border-top-left-radius: 0;
}

.button-group > .button:last-child {
	margin-right: 0;
}

.button-group-vertical {
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}

.button-group-vertical > .button{
	width: 100%
}

.button-group-vertical > .button:not(:first-child) {
	margin-top: -1px;
	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}

.button-group-vertical > .button:not(:last-child) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.button-group .button:hover, .button-group-vertical .button:hover {
	z-index: 2;
}

.button-group .button:focus, .button-group-vertical .button:focus {
	z-index: 3;
}

.button-group .button:focus:hover, .button-group-vertical .button:focus:hover {
	z-index: 4;
}
