.field {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid var(--faint-strong);
    border-radius: 2px;
    text-align: left;
    padding: .375rem .75rem;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    background-color: #fff;
}

.field-inline > .field {
    width: auto;
    display: block;
    max-width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid var(--faint-strong);
    border-radius: 2px;
    text-align: left;
    padding: .375rem .75rem;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    background-color: #fff;
}

.field-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.field-group > .label {
  margin-bottom: .25rem;
  margin-top: 1rem;
}

.field-group.field-inline > .label {
  margin-bottom: 0;
  margin-top: 0;
}

.field.valid {
    border-color: #28a745;
}

.field.not-valid {
    border-color: #dc3545;
}

input:not([type="range"]):not([type="radio"]):not([type="checkbox"]).field:focus, 
textarea.field:focus, 
select.field:focus, 
option:hover {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.small {
    font-size: .75rem;
}

.large {
        font-size: 1.25rem;
}

.label {
    display: block;
    font-size: .90rem;
}

.static {
    background-color: var(--faint-strong-down);
    color: var(--base-weak-up);
    box-shadow: none;
    pointer-events: none;
    cursor: pointer;
    white-space: nowrap;
}

input:disabled, 
select:disabled, 
textarea:disabled,
button:disabled,
.checkbox:disabled, 
.radio:disabled, 
fieldset[disabled] .checkbox, 
fieldset[disabled] .radio
{
    background-color: var(--faint-strong-down);
    box-shadow: none;
    color: var(--base-weak-up);
    cursor: not-allowed;
}

fieldset {
    border: 0;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.text-help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}

.file {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.file-label {
    border-color: var(--faint-strong-up);
    align-items: stretch;
    display: inline-flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;

}

.file-input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.file-body {
    background-color: var(--faint-strong);
    box-shadow: none;
    color: var(--base-weak-up);
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.file-label:hover .file-body {
    background-color: var(--faint-strong-up);
    
}

.file-body, 
.file-name {
    border-color: var(--faint-strong-up);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
}

.file-icon {
    align-items: center;
    display: inline-flex;
    height: 1em;
    justify-content: center;
    margin-right: .5em;
    width: 1em;
}

.file.has-name .file-name {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.file.is-boxed.has-name .file-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;

}

.file.is-boxed.has-name .file-name {
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
}

.file.has-name .file-body {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.file.is-boxed .file-label {
    display:flex;
    flex-direction: column;
}

.boxed {
    display:flex;
    flex-direction: column;
}

.file.is-boxed .file-body {
    display:flex;
    flex-direction: column;
    height: auto;
    padding: 1em 3em;
    align-items: center;
}

.file.is-boxed .file-body .file-icon {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;

}

.file-name {
    border-color: var(--faint-strong-up);
    display: inline-flex;
    max-width: 16em;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    background-color: var(--faint-strong-down);
    box-shadow: none;
    color: var(--base-weak-up);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.checkbox, .radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}


.field-inline {
    display: inline-flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
}

.field-group.has-icons-left, .field-group.has-icons-right {
    position: relative;
}

.field-group.has-icons-left .icon, .field-group.has-icons-right .icon {
    height: 2.5em;
    position: absolute;
    width: 2.5em;
}

.field-group.has-icons-right .icon {
       right: 0;
}

.icon {
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    width: 2.5em;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.field-group.has-icons-left .field {
    padding-left: 2.5em;
}

.field-group.has-icons-right .field {
    padding-right: 2.5em;
}
