.notification {
    background-color: var(--faint-weak);
    color: #363636;
    border-radius: 0.5rem;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}

.close {
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(10, 10, 10, 0.1);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    vertical-align: top;
}

.close::before, .close::after {
    background-color: var(--white);
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.close::before {
    height: 2px;
    width: 50%;
}

.close::after {
    height: 50%;
    width: 2px;
}

.close:hover, .close:focus {
    background-color: rgba(10, 10, 10, 0.2);
}

.close:active {
    background-color: rgba(10, 10, 10, 0.3);
}

.notification > .close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.notification-header {
    color: inherit;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.notification-body {
    color: inherit;
}

.notification  p:last-child {
    margin-bottom: 0rem;
}

.notification a {
    color: currentColor;
}

.notification-critic {
    background-color: var(--critic-weak);
    color: var(--critic-strong-up);
}
.notification-critic hr,.notification-critic .notification-header {
    border-color: rgba(207, 17, 36,0.2);
}
.notification-white {
    background-color: var(--white);
    border: 1px solid rgba(10, 10, 10, 0.2);
    color: #363636;
}

.notification-white hr,.notification-white .notification-header {
    border-color: rgba(10, 10, 10, 0.2);
}
