hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.8rem;
}

blockquote {
    margin: 0 0 1rem;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.blockquote-footer::before {
    content: "\2014\00A0";
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}

mark,
.mark {
    padding: 0.25em;
    background-color: #fcf8e3;
    border-radius: 0.2rem;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

code {
    font-size: 91%;
    color: #c7254e;
    word-wrap: break-word;
    background-color: #f9f2f4;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 91%;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 91%;
    color: #212529;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
    border: 0;
    background-color: inherit;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-wrap {
    white-space: normal;
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-break {
    word-break: break-word;
    overflow-wrap: break-word;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-normal {
    font-weight: normal; /* 400 */
}

.text-bold {
    font-weight: bold; /* 700 */
}

.text-bolder {
    font-weight: bolder;
}

.text-light {
    font-weight: 300;
}

.text-lighter {
    font-weight: lighter;
}

.text-italic {
    font-style: italic;
}

.text-decoration-none {
    text-decoration: none;
}

@media (min-width: 576px) {
    .text-mobile-justify {
        text-align: justify;
    }

    .text-mobile-left {
        text-align: left;
    }

    .text-mobile-right {
        text-align: right;
    }

    .text-mobile-center {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .text-tablet-justify {
        text-align: justify;
    }

    .text-tablet-left {
        text-align: left;
    }

    .text-tablet-right {
        text-align: right;
    }

    .text-tablet-center {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .text-desktop-justify {
        text-align: justify;
    }

    .text-desktop-left {
        text-align: left;
    }

    .text-desktop-right {
        text-align: right;
    }

    .text-desktop-center {
        text-align: center;
    }
}

@media (min-width: 1216px) {
    .text-widescreen-justify {
        text-align: justify;
    }

    .text-widescreen-left {
        text-align: left;
    }

    .text-widescreen-right {
        text-align: right;
    }

    .text-widescreen-center {
        text-align: center;
    }
}

@media (min-width: 1408px) {
    .text-fullhd-justify {
        text-align: justify;
    }

    .text-fullhd-left {
        text-align: left;
    }

    .text-fullhd-right {
        text-align: right;
    }

    .text-fullhd-center {
        text-align: center;
    }
}
