@charset "UTF-8";
@import "../scss/kernel/root.css";
@import "../scss/kernel/grid/flex-layout.css";
@import "../scss/kernel/grid/grid-layout.css";
@import "../scss/kernel/aligment.css";
@import "../scss/kernel/font.css";
@import "../scss/kernel/grid/flex.css";
@import "../scss/kernel/grid/offset.css";
@import "../scss/kernel/display.css";
@import "../scss/kernel/position.css";
/* Компоненты. */
@import "../scss/components/badge.css";
@import "../scss/components/typography.css";
@import "../scss/components/table.css";
@import "../scss/components/button.css";
@import "../scss/components/form.css";
@import "../scss/components/notification.css";
@import "../scss/components/box.css";
@import "../scss/components/media.css";
@import "../scss/components/border.css";
@import "../scss/components/shadow.css";
/* Подключение в самом конце. */
@import "../scss/kernel/colors.css";
@import "../scss/kernel/indents/margin.css";
@import "../scss/kernel/indents/padding.css";
/* Раздел: общее оформление страниц. */
*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: Аrial, sans-serif;
  margin: 0;
}

li:not(:last-child) {
  padding-bottom: .5rem; }

pre {
  padding-top: 1rem; }

rect {
  fill: #ebf4ff; }

.background-code {
  background-color: #f7fafd;
  border-radius: 7px;
  margin-bottom: 1rem;
  overflow-y: scroll;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.background-code pre {
  color: #8994a6;
}

.column-content {
  background-color: #ebf4ff;
  border-radius: 5px;
  padding: 0.5rem 0;
  text-align: center;
  word-break: break-all;
}

.column-content-nested {
  background-color: #d8e9fd;
  border-radius: 5px;
  padding: 0.5rem 0;
  text-align: center; }

.column-content-none {
  background-color: #f6f8fb;
  border-radius: 5px;
  padding: 0.5rem 0;
  text-align: center; }

.container {
  margin-left: auto;
  margin-right: auto; }

.container-padding-top {
  margin-top: 3rem;
}

.link {
  color: #27AE60;
}
.link:hover {
  color: #27AE60;
  text-decoration: none;
}
.link:active {
  color: #27AE60;
}

/* Конец раздела: общее оформление страниц. */
/* Раздел: выравнивание. */
.content {
  align-items: center;
  background-color: #ebf4ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.5rem 0;
  text-align: center; }

.example-row {
  background-color: #f7fafd;
  border-radius: 7px;
  height: 10rem; }

.example-row-2 {
  background-color: #f7fafd;
  border-radius: 7px; }

/* Конец раздела: выранивание. */
/* Раздел: Grid сетка. */
.grid-container > div {
  background-color: #ebf4ff;
  border-radius: 5px;
  padding: 10px; }

/* Конец раздела: Grid сетка. */
/* Раздел: меню. */
.active {
  color: #27AE60;
}

.navigation-item a {
  color: #8994a6;
  text-decoration: none;
}
.navigation-item a:hover {
  color: #27AE60;
}
.navigation-item a:active {
  color: #27AE60;
}

.navigation-list ul {
  padding-left: 2rem;
}

.navigation-general {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media (min-width: 1024px) {
  .navigation-list-desktop ul {
    margin-bottom: 0;
  }

  .sidebar {
    height: calc(100vh - 3rem);
    overflow-y: auto;
    top: 3rem;
  }
}
@media (max-width: 1024px) {
  .navigation-list-mobile {
    background-color: white;
    display: none;
    left: 0;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1;
  }

  .opened-navigation {
    display: block;
  }

  .navigation-general button {
    border: 0;
    color: #8994a6;
    font-size: 30px;
    padding: 0.3rem 0 0 2.5rem;
    position: absolute;
    top: 0.5rem;
  }
  .navigation-general button:hover {
    color: #000000;
  }
  .navigation-general button:focus:not(:active) {
    box-shadow: none;
  }
}
@media (max-width: 1024px) {
  /* Мобильное меню. */
  .mobile-menu {
    background-color: white;
    height: 55px;
    left: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .mobile-navigation {
    background-color: white;
    display: none;
    height: calc(100vh - 55px);
    left: 0;
    overflow-y: auto;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 1;
  }

  .mobile-menu button {
    border: 0;
    color: #8994a6;
    font-size: 30px;
    padding: 0;
    position: absolute;
    top: 0.5rem;
  }
  .mobile-menu button:hover {
    color: #000000;
  }
  .mobile-menu button:focus:not(:active) {
    box-shadow: none;
  }

  .navigation-opened {
    display: block;
  }
}
/* Конец раздела: меню. */
/* Раздел: страница изменений. */
@media (min-width: 1024px) {
  .change-item-date {
    position: relative;
    top: -26px;
    left: -120px;
  }
}
@media (max-width: 1024px) {
  .change-item-date {
    padding-bottom: 1rem;
  }
}
.change-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container > header {
  padding-top: 2.5rem;
}

/* Конец раздела: страница изменений. */
/* Раздел: Scss.*/
.color-example {
  height: 25px;
  width: 25px;
}

/*Конец раздела: Scss.*/
