@import "../scss/kernel/variables";
@import "../scss/kernel/root.css";
@import "../scss/kernel/grid/flex-layout.css";
@import "../scss/kernel/grid/grid-layout.css";
@import "../scss/kernel/aligment.css";
@import "../scss/kernel/font.css";
@import "../scss/kernel/grid/flex.css";
@import "../scss/kernel/grid/offset.css";
@import "../scss/kernel/display.css";
@import "../scss/kernel/position.css";

/* Компоненты. */
@import "../scss/components/badge.css";
@import "../scss/components/typography.css";
@import "../scss/components/table.css";
@import "../scss/components/button.css";
@import "../scss/components/form.css";
@import "../scss/components/notification.css";
@import "../scss/components/box.css";
@import "../scss/components/media.css";
@import "../scss/components/border.css";
@import "../scss/components/shadow.css";

/* Подключение в самом конце. */
@import "../scss/kernel/colors.css";
@import "../scss/kernel/indents/margin.css";
@import "../scss/kernel/indents/padding.css";

// Цвета для оформления элементов и фона кода.
$colors-doc: (
    accent-weak: #ebf4ff,
    accent-weak-down: #f7fafd,
    accent-weak-up: #d8e9fd
);

/* Раздел: общее оформление страниц. */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $font-family, sans-serif;
    margin: 0;
}

 li:not(:last-child) {
    padding-bottom: .5rem;
}

pre {
    padding-top: 1rem;
}

rect {
    fill: map-get($colors-doc, accent-weak);
}

.background-code {
    background-color: map-get($colors-doc, accent-weak-down);
    border-radius: 7px;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    pre {
        color: $faint-strong;
    }
}

.column-content {
    background-color: map-get($colors-doc, accent-weak);
    border-radius: 5px;
    padding: 0.5rem 0;
    text-align: center;
    word-break: break-all;
}

.column-content-nested {
    background-color: map-get($colors-doc, accent-weak-up);
    border-radius: 5px;
    padding: 0.5rem 0;
    text-align: center;
}

.column-content-none {
    background-color: map-get($colors, faint-weak);
    border-radius: 5px;
    padding: 0.5rem 0;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container-padding-top {
    margin-top: 3rem;
}

.link {
    color: $success-strong;
    &:hover  {
        color: $success-strong;
        text-decoration: none;
    }
    &:active {
        color: $success-strong;
    }
}
/* Конец раздела: общее оформление страниц. */

/* Раздел: выравнивание. */
.content {
    align-items: center;
    background-color: map-get($colors-doc, accent-weak);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    text-align: center;
}

.example-row {
    background-color: map-get($colors-doc, accent-weak-down);
    border-radius: 7px;
    height: 10rem;
}

.example-row-2 {
    background-color: map-get($colors-doc, accent-weak-down);
    border-radius: 7px;
}
/* Конец раздела: выранивание. */

/* Раздел: Grid сетка. */
.grid-container > div {
    background-color: map-get($colors-doc, accent-weak);
    border-radius: 5px;
    padding: 10px;
}
/* Конец раздела: Grid сетка. */

/* Раздел: меню. */
.active {
    color: $success-strong;
}

.navigation-item a {
    color: $faint-strong;
    text-decoration: none;
    &:hover  {
        color: $success-strong;
    }
    &:active {
        color: $success-strong;
    }
}

.navigation-list ul {
    padding-left: 2rem;
}

.navigation-general {
    background-color: $base-weak;
    height: 70px;
    left: 0;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

@media (min-width: #{$breakpoint-desktop}) {
    .navigation-list-desktop ul{
        margin-bottom: 0;
    }
    .sidebar {
        height: calc(100vh - 3rem);
        overflow-y: auto;
        top: 3rem;
    }

}

@media (max-width: #{$breakpoint-desktop}) {
    .navigation-list-mobile {
        background-color: rgb(255, 255, 255);
        display: none;
        left: 0;
        padding-bottom: .5rem;
        padding-left: 2.5rem;
        padding-top: .5rem;
        position: fixed;
        top: 70px;
        width: 100%;
        z-index: 1;
    }
    
    .opened-navigation {
        display: block;
    }

    .navigation-general button {
        border: 0;
        color: $faint-strong;
        font-size: 30px;
        padding: .3rem 0 0 2.5rem;
        position: absolute;
        top: .5rem;
        &:hover {
            color: $base-strong;
        }
        &:focus:not(:active) {
            box-shadow: none;
        }
    }
}

@media (max-width: #{$breakpoint-desktop}) {
/* Мобильное меню. */
    .mobile-menu {
        background-color: white;
        height: 55px;
        left: 0;
        padding-left: 2rem;
        padding-top: 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .mobile-navigation {
        background-color: rgb(255, 255, 255);
        display: none;
        height: calc(100vh - 55px);
        left: 0;
        overflow-y: auto;
        padding-left: 2.5rem;
        padding-top: .5rem;
        position: fixed;
        top: 55px;
        width: 100%;
        z-index: 1;
    }
    
    .mobile-menu button { // вместо open-button
        border: 0;
        color: $faint-strong;
        font-size: 30px;
        padding: 0;
        position: absolute;
        top: .5rem;
        &:hover {
            color: $base-strong;
        }
        &:focus:not(:active) {
            box-shadow: none;
        }
    }

    .navigation-opened {
        display: block;
    }
}
/* Конец раздела: меню. */

/* Раздел: страница изменений. */
@media (min-width: #{$breakpoint-desktop}) {
    .change-item-date {
        position: relative;
        top: -26px;
        left: -120px;
    }
}

@media (max-width: #{$breakpoint-desktop}) {
    .change-item-date {
        padding-bottom: 1rem;
    }
}

.change-item {
    border-top: 1px solid $box-shadow-color;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container > header {
    padding-top: 2.5rem;
  }
/* Конец раздела: страница изменений. */

/* Раздел: Scss.*/
.color-example {
    height: 25px;
    width: 25px;
}
  /*Конец раздела: Scss.*/
