.container
{
	width: 100%;
}

.row
{
	display: flex;
	flex-wrap: wrap;
}

.column, .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12,
.column-mobile, .column-mobile-1, .column-mobile-2, .column-mobile-3, .column-mobile-4, .column-mobile-5, .column-mobile-6, .column-mobile-7, .column-mobile-8, .column-mobile-9, .column-mobile-10, .column-mobile-11, .column-mobile-12,
.column-tablet, .column-tablet-1, .column-tablet-2, .column-tablet-3, .column-tablet-4, .column-tablet-5, .column-tablet-6, .column-tablet-7, .column-tablet-8, .column-tablet-9, .column-tablet-10, .column-tablet-11, .column-tablet-12,
.column-desktop, .column-desktop-1, .column-desktop-2, .column-desktop-3, .column-desktop-4, .column-desktop-5, .column-desktop-6, .column-desktop-7, .column-desktop-8, .column-desktop-9, .column-desktop-10, .column-desktop-11, .column-desktop-12,
.column-widescreen, .column-widescreen-1, .column-widescreen-2, .column-widescreen-3, .column-widescreen-4, .column-widescreen-5, .column-widescreen-6, .column-widescreen-7, .column-widescreen-8, .column-widescreen-9, .column-widescreen-10, .column-widescreen-11, .column-widescreen-12,
.column-fullhd, .column-fullhd-1, .column-fullhd-2, .column-fullhd-3, .column-fullhd-4, .column-fullhd-5, .column-fullhd-6, .column-fullhd-7, .column-fullhd-8, .column-fullhd-9, .column-fullhd-10, .column-fullhd-11, .column-fullhd-12
{
	position: relative;
	width: 100%;
	padding: 1rem;
}

.column
{
	flex-basis: 0;
	flex-grow: 1;
	width: 100%;
}

.column-1
{
	flex: 0 0 8.33333%;
	width: 8.33333%;
}

.column-2
{
	flex: 0 0 16.66667%;
	width: 16.66667%;
}

.column-3
{
	flex: 0 0 25%;
	width: 25%;
}

.column-4
{
	flex: 0 0 33.33333%;
	width: 33.33333%;
}

.column-5
{
	flex: 0 0 41.66667%;
	width: 41.66667%;
}

.column-6
{
	flex: 0 0 50%;
	width: 50%;
}

.column-7
{
	flex: 0 0 58.33333%;
	width: 58.33333%;
}

.column-8
{
	flex: 0 0 66.66667%;
	width: 66.66667%;
}

.column-9
{
	flex: 0 0 75%;
	width: 75%;
}

.column-10
{
	flex: 0 0 83.33333%;
	width: 83.33333%;
}

.column-11
{
	flex: 0 0 91.66667%;
	width: 91.66667%;
}

.column-12
{
	flex: 0 0 100%;
	width: 100%;
}

@media (min-width: 576px)
{
	.container
	{
		width: var(--breakpoint-mobile-size);
	}

	.column-mobile
	{
		flex-basis: 0;
		flex-grow: 1;
		width: 100%;
	}

	.column-mobile-1
	{
		flex: 0 0 8.33333%;
		width: 8.33333%;
	}

	.column-mobile-2
	{
		flex: 0 0 16.66667%;
		width: 16.66667%;
	}

	.column-mobile-3
	{
		flex: 0 0 25%;
		width: 25%;
	}

	.column-mobile-4
	{
		flex: 0 0 33.33333%;
		width: 33.33333%;
	}

	.column-mobile-5
	{
		flex: 0 0 41.66667%;
		width: 41.66667%;
	}

	.column-mobile-6
	{
		flex: 0 0 50%;
		width: 50%;
	}

	.column-mobile-7
	{
		flex: 0 0 58.33333%;
		width: 58.33333%;
	}

	.column-mobile-8
	{
		flex: 0 0 66.66667%;
		width: 66.66667%;
	}

	.column-mobile-9
	{
		flex: 0 0 75%;
		width: 75%;
	}

	.column-mobile-10
	{
		flex: 0 0 83.33333%;
		width: 83.33333%;
	}

	.column-mobile-11
	{
		flex: 0 0 91.66667%;
		width: 91.66667%;
	}

	.column-mobile-12
	{
		flex: 0 0 100%;
		width: 100%;
	}
}

@media (min-width: 768px)
{
	.container
	{
		width: var(--breakpoint-tablet-size);
	}

	.column-tablet
	{
		flex-basis: 0;
		flex-grow: 1;
		width: 100%;
	}

	.column-tablet-1
	{
		flex: 0 0 8.33333%;
		width: 8.33333%;
	}

	.column-tablet-2
	{
		flex: 0 0 16.66667%;
		width: 16.66667%;
	}

	.column-tablet-3
	{
		flex: 0 0 25%;
		width: 25%;
	}

	.column-tablet-4
	{
		flex: 0 0 33.33333%;
		width: 33.33333%;
	}

	.column-tablet-5
	{
		flex: 0 0 41.66667%;
		width: 41.66667%;
	}

	.column-tablet-6
	{
		flex: 0 0 50%;
		width: 50%;
	}

	.column-tablet-7
	{
		flex: 0 0 58.33333%;
		width: 58.33333%;
	}

	.column-tablet-8
	{
		flex: 0 0 66.66667%;
		width: 66.66667%;
	}

	.column-tablet-9
	{
		flex: 0 0 75%;
		width: 75%;
	}

	.column-tablet-10
	{
		flex: 0 0 83.33333%;
		width: 83.33333%;
	}

	.column-tablet-11
	{
		flex: 0 0 91.66667%;
		width: 91.66667%;
	}

	.column-tablet-12
	{
		flex: 0 0 100%;
		width: 100%;
	}
}

@media (min-width: 1024px)
{
	.container
	{
		width: var(--breakpoint-desktop-size);
	}

	.column-desktop
	{
		flex-basis: 0;
		flex-grow: 1;
		width: 100%;
	}

	.column-desktop-1
	{
		flex: 0 0 8.33333%;
		width: 8.33333%;
	}

	.column-desktop-2
	{
		flex: 0 0 16.66667%;
		width: 16.66667%;
	}

	.column-desktop-3
	{
		flex: 0 0 25%;
		width: 25%;
	}

	.column-desktop-4
	{
		flex: 0 0 33.33333%;
		width: 33.33333%;
	}

	.column-desktop-5
	{
		flex: 0 0 41.66667%;
		width: 41.66667%;
	}

	.column-desktop-6
	{
		flex: 0 0 50%;
		width: 50%;
	}

	.column-desktop-7
	{
		flex: 0 0 58.33333%;
		width: 58.33333%;
	}

	.column-desktop-8
	{
		flex: 0 0 66.66667%;
		width: 66.66667%;
	}

	.column-desktop-9
	{
		flex: 0 0 75%;
		width: 75%;
	}

	.column-desktop-10
	{
		flex: 0 0 83.33333%;
		width: 83.33333%;
	}

	.column-desktop-11
	{
		flex: 0 0 91.66667%;
		width: 91.66667%;
	}

	.column-desktop-12
	{
		flex: 0 0 100%;
		width: 100%;
	}
}

@media (min-width: 1216px)
{
	.container
	{
		width: var(--breakpoint-widescreen-size);
	}

	.column-widescreen
	{
		flex-basis: 0;
		flex-grow: 1;
		width: 100%;
	}

	.column-widescreen-1
	{
		flex: 0 0 8.33333%;
		width: 8.33333%;
	}

	.column-widescreen-2
	{
		flex: 0 0 16.66667%;
		width: 16.66667%;
	}

	.column-widescreen-3
	{
		flex: 0 0 25%;
		width: 25%;
	}

	.column-widescreen-4
	{
		flex: 0 0 33.33333%;
		width: 33.33333%;
	}

	.column-widescreen-5
	{
		flex: 0 0 41.66667%;
		width: 41.66667%;
	}

	.column-widescreen-6
	{
		flex: 0 0 50%;
		width: 50%;
	}

	.column-widescreen-7
	{
		flex: 0 0 58.33333%;
		width: 58.33333%;
	}

	.column-widescreen-8
	{
		flex: 0 0 66.66667%;
		width: 66.66667%;
	}

	.column-widescreen-9
	{
		flex: 0 0 75%;
		width: 75%;
	}

	.column-widescreen-10
	{
		flex: 0 0 83.33333%;
		width: 83.33333%;
	}

	.column-widescreen-11
	{
		flex: 0 0 91.66667%;
		width: 91.66667%;
	}

	.column-widescreen-12
	{
		flex: 0 0 100%;
		width: 100%;
	}
}

@media (min-width: 1408px)
{
	.container
	{
		width: var(--breakpoint-fullhd-size);
	}

	.column-fullhd
	{
		flex-basis: 0;
		flex-grow: 1;
		width: 100%;
	}

	.column-fullhd-1
	{
		flex: 0 0 8.33333%;
		width: 8.33333%;
	}

	.column-fullhd-2
	{
		flex: 0 0 16.66667%;
		width: 16.66667%;
	}

	.column-fullhd-3
	{
		flex: 0 0 25%;
		width: 25%;
	}

	.column-fullhd-4
	{
		flex: 0 0 33.33333%;
		width: 33.33333%;
	}

	.column-fullhd-5
	{
		flex: 0 0 41.66667%;
		width: 41.66667%;
	}

	.column-fullhd-6
	{
		flex: 0 0 50%;
		width: 50%;
	}

	.column-fullhd-7
	{
		flex: 0 0 58.33333%;
		width: 58.33333%;
	}

	.column-fullhd-8
	{
		flex: 0 0 66.66667%;
		width: 66.66667%;
	}

	.column-fullhd-9
	{
		flex: 0 0 75%;
		width: 75%;
	}

	.column-fullhd-10
	{
		flex: 0 0 83.33333%;
		width: 83.33333%;
	}

	.column-fullhd-11
	{
		flex: 0 0 91.66667%;
		width: 91.66667%;
	}

	.column-fullhd-12
	{
		flex: 0 0 100%;
		width: 100%;
	}
}