@charset "UTF-8";
/* Раздел: grid сетка. */
/* Отвечает за перенос автоматически размещаемого элемента. */
.grid-column-1 {
  grid-column: span 1;
}

.grid-column-2 {
  grid-column: span 2;
}

.grid-column-3 {
  grid-column: span 3;
}

.grid-column-4 {
  grid-column: span 4;
}

.grid-column-5 {
  grid-column: span 5;
}

.grid-column-6 {
  grid-column: span 6;
}

.grid-column-7 {
  grid-column: span 7;
}

.grid-column-8 {
  grid-column: span 8;
}

.grid-column-9 {
  grid-column: span 9;
}

.grid-column-10 {
  grid-column: span 10;
}

.grid-column-11 {
  grid-column: span 11;
}

.grid-column-12 {
  grid-column: span 12;
}

.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid-auto-flow-column {
  grid-auto-flow: column;
}

.grid-gap-0 {
  grid-gap: 0;
}

.grid-gap-1 {
  grid-gap: 0.25rem;
}

.grid-gap-2 {
  grid-gap: 0.5rem;
}

.grid-gap-3 {
  grid-gap: 0.75rem;
}

.grid-gap-4 {
  grid-gap: 1rem;
}

.grid-gap-5 {
  grid-gap: 1.25rem;
}

.grid-row-1 {
  grid-row: span 1;
}

.grid-row-2 {
  grid-row: span 2;
}

.grid-row-3 {
  grid-row: span 3;
}

.grid-row-4 {
  grid-row: span 4;
}

.grid-row-5 {
  grid-row: span 5;
}

.grid-row-6 {
  grid-row: span 6;
}

.grid-row-7 {
  grid-row: span 7;
}

.grid-row-8 {
  grid-row: span 8;
}

.grid-row-9 {
  grid-row: span 9;
}

.grid-row-10 {
  grid-row: span 10;
}

.grid-row-11 {
  grid-row: span 11;
}

.grid-row-12 {
  grid-row: span 12;
}

.height-100vh {
  height: 100vh;
}

@media (min-width: 576px) {
  .grid-column-mobile-1 {
    grid-column: span 1;
  }

  .grid-column-mobile-2 {
    grid-column: span 2;
  }

  .grid-column-mobile-3 {
    grid-column: span 3;
  }

  .grid-column-mobile-4 {
    grid-column: span 4;
  }

  .grid-column-mobile-5 {
    grid-column: span 5;
  }

  .grid-column-mobile-6 {
    grid-column: span 6;
  }

  .grid-column-mobile-7 {
    grid-column: span 7;
  }

  .grid-column-mobile-8 {
    grid-column: span 8;
  }

  .grid-column-mobile-9 {
    grid-column: span 9;
  }

  .grid-column-mobile-10 {
    grid-column: span 10;
  }

  .grid-column-mobile-11 {
    grid-column: span 11;
  }

  .grid-column-mobile-12 {
    grid-column: span 12;
  }

  .grid-gap-mobile-0 {
    grid-gap: 0;
  }

  .grid-gap-mobile-1 {
    grid-gap: 0.25rem;
  }

  .grid-gap-mobile-2 {
    grid-gap: 0.5rem;
  }

  .grid-gap-mobile-3 {
    grid-gap: 0.75rem;
  }

  .grid-gap-mobile-4 {
    grid-gap: 1rem;
  }

  .grid-gap-mobile-5 {
    grid-gap: 1.25rem;
  }

  .grid-row-mobile-1 {
    grid-row: span 1;
  }

  .grid-row-mobile-2 {
    grid-row: span 2;
  }

  .grid-row-mobile-3 {
    grid-row: span 3;
  }

  .grid-row-mobile-4 {
    grid-row: span 4;
  }

  .grid-row-mobile-5 {
    grid-row: span 5;
  }

  .grid-row-mobile-6 {
    grid-row: span 6;
  }

  .grid-row-mobile-7 {
    grid-row: span 7;
  }

  .grid-row-mobile-8 {
    grid-row: span 8;
  }

  .grid-row-mobile-9 {
    grid-row: span 9;
  }

  .grid-row-mobile-10 {
    grid-row: span 10;
  }

  .grid-row-mobile-11 {
    grid-row: span 11;
  }

  .grid-row-mobile-12 {
    grid-row: span 12;
  }
}
@media (min-width: 768px) {
  .grid-column-tablet-1 {
    grid-column: span 1;
  }

  .grid-column-tablet-2 {
    grid-column: span 2;
  }

  .grid-column-tablet-3 {
    grid-column: span 3;
  }

  .grid-column-tablet-4 {
    grid-column: span 4;
  }

  .grid-column-tablet-5 {
    grid-column: span 5;
  }

  .grid-column-tablet-6 {
    grid-column: span 6;
  }

  .grid-column-tablet-7 {
    grid-column: span 7;
  }

  .grid-column-tablet-8 {
    grid-column: span 8;
  }

  .grid-column-tablet-9 {
    grid-column: span 9;
  }

  .grid-column-tablet-10 {
    grid-column: span 10;
  }

  .grid-column-tablet-11 {
    grid-column: span 11;
  }

  .grid-column-tablet-12 {
    grid-column: span 12;
  }

  .grid-gap-tablet-0 {
    grid-gap: 0;
  }

  .grid-gap-tablet-1 {
    grid-gap: 0.25rem;
  }

  .grid-gap-tablet-2 {
    grid-gap: 0.5rem;
  }

  .grid-gap-tablet-3 {
    grid-gap: 0.75rem;
  }

  .grid-gap-tablet-4 {
    grid-gap: 1rem;
  }

  .grid-gap-tablet-5 {
    grid-gap: 1.25rem;
  }

  .grid-row-tablet-1 {
    grid-row: span 1;
  }

  .grid-row-tablet-2 {
    grid-row: span 2;
  }

  .grid-row-tablet-3 {
    grid-row: span 3;
  }

  .grid-row-tablet-4 {
    grid-row: span 4;
  }

  .grid-row-tablet-5 {
    grid-row: span 5;
  }

  .grid-row-tablet-6 {
    grid-row: span 6;
  }

  .grid-row-tablet-7 {
    grid-row: span 7;
  }

  .grid-row-tablet-8 {
    grid-row: span 8;
  }

  .grid-row-tablet-9 {
    grid-row: span 9;
  }

  .grid-row-tablet-10 {
    grid-row: span 10;
  }

  .grid-row-tablet-11 {
    grid-row: span 11;
  }

  .grid-row-tablet-12 {
    grid-row: span 12;
  }
}
@media (min-width: 1024px) {
  .grid-column-desktop-1 {
    grid-column: span 1;
  }

  .grid-column-desktop-2 {
    grid-column: span 2;
  }

  .grid-column-desktop-3 {
    grid-column: span 3;
  }

  .grid-column-desktop-4 {
    grid-column: span 4;
  }

  .grid-column-desktop-5 {
    grid-column: span 5;
  }

  .grid-column-desktop-6 {
    grid-column: span 6;
  }

  .grid-column-desktop-7 {
    grid-column: span 7;
  }

  .grid-column-desktop-8 {
    grid-column: span 8;
  }

  .grid-column-desktop-9 {
    grid-column: span 9;
  }

  .grid-column-desktop-10 {
    grid-column: span 10;
  }

  .grid-column-desktop-11 {
    grid-column: span 11;
  }

  .grid-column-desktop-12 {
    grid-column: span 12;
  }

  .grid-gap-desktop-0 {
    grid-gap: 0;
  }

  .grid-gap-desktop-1 {
    grid-gap: 0.25rem;
  }

  .grid-gap-desktop-2 {
    grid-gap: 0.5rem;
  }

  .grid-gap-desktop-3 {
    grid-gap: 0.75rem;
  }

  .grid-gap-desktop-4 {
    grid-gap: 1rem;
  }

  .grid-gap-desktop-5 {
    grid-gap: 1.25rem;
  }

  .grid-row-desktop-1 {
    grid-row: span 1;
  }

  .grid-row-desktop-2 {
    grid-row: span 2;
  }

  .grid-row-desktop-3 {
    grid-row: span 3;
  }

  .grid-row-desktop-4 {
    grid-row: span 4;
  }

  .grid-row-desktop-5 {
    grid-row: span 5;
  }

  .grid-row-desktop-6 {
    grid-row: span 6;
  }

  .grid-row-desktop-7 {
    grid-row: span 7;
  }

  .grid-row-desktop-8 {
    grid-row: span 8;
  }

  .grid-row-desktop-9 {
    grid-row: span 9;
  }

  .grid-row-desktop-10 {
    grid-row: span 10;
  }

  .grid-row-desktop-11 {
    grid-row: span 11;
  }

  .grid-row-desktop-12 {
    grid-row: span 12;
  }
}
@media (min-width: 1216px) {
  .grid-column-widescreen-1 {
    grid-column: span 1;
  }

  .grid-column-widescreen-2 {
    grid-column: span 2;
  }

  .grid-column-widescreen-3 {
    grid-column: span 3;
  }

  .grid-column-widescreen-4 {
    grid-column: span 4;
  }

  .grid-column-widescreen-5 {
    grid-column: span 5;
  }

  .grid-column-widescreen-6 {
    grid-column: span 6;
  }

  .grid-column-widescreen-7 {
    grid-column: span 7;
  }

  .grid-column-widescreen-8 {
    grid-column: span 8;
  }

  .grid-column-widescreen-9 {
    grid-column: span 9;
  }

  .grid-column-widescreen-10 {
    grid-column: span 10;
  }

  .grid-column-widescreen-11 {
    grid-column: span 11;
  }

  .grid-column-widescreen-12 {
    grid-column: span 12;
  }

  .grid-gap-widescreen-0 {
    grid-gap: 0;
  }

  .grid-gap-widescreen-1 {
    grid-gap: 0.25rem;
  }

  .grid-gap-widescreen-2 {
    grid-gap: 0.5rem;
  }

  .grid-gap-widescreen-3 {
    grid-gap: 0.75rem;
  }

  .grid-gap-widescreen-4 {
    grid-gap: 1rem;
  }

  .grid-gap-widescreen-5 {
    grid-gap: 1.25rem;
  }

  .grid-row-widescreen-1 {
    grid-row: span 1;
  }

  .grid-row-widescreen-2 {
    grid-row: span 2;
  }

  .grid-row-widescreen-3 {
    grid-row: span 3;
  }

  .grid-row-widescreen-4 {
    grid-row: span 4;
  }

  .grid-row-widescreen-5 {
    grid-row: span 5;
  }

  .grid-row-widescreen-6 {
    grid-row: span 6;
  }

  .grid-row-widescreen-7 {
    grid-row: span 7;
  }

  .grid-row-widescreen-8 {
    grid-row: span 8;
  }

  .grid-row-widescreen-9 {
    grid-row: span 9;
  }

  .grid-row-widescreen-10 {
    grid-row: span 10;
  }

  .grid-row-widescreen-11 {
    grid-row: span 11;
  }

  .grid-row-widescreen-12 {
    grid-row: span 12;
  }
}
@media (min-width: 1480px) {
  .grid-column-fullhd-1 {
    grid-column: span 1;
  }

  .grid-column-fullhd-2 {
    grid-column: span 2;
  }

  .grid-column-fullhd-3 {
    grid-column: span 3;
  }

  .grid-column-fullhd-4 {
    grid-column: span 4;
  }

  .grid-column-fullhd-5 {
    grid-column: span 5;
  }

  .grid-column-fullhd-6 {
    grid-column: span 6;
  }

  .grid-column-fullhd-7 {
    grid-column: span 7;
  }

  .grid-column-fullhd-8 {
    grid-column: span 8;
  }

  .grid-column-fullhd-9 {
    grid-column: span 9;
  }

  .grid-column-fullhd-10 {
    grid-column: span 10;
  }

  .grid-column-fullhd-11 {
    grid-column: span 11;
  }

  .grid-column-fullhd-12 {
    grid-column: span 12;
  }

  .grid-gap-fullhd-0 {
    grid-gap: 0;
  }

  .grid-gap-fullhd-1 {
    grid-gap: 0.25rem;
  }

  .grid-gap-fullhd-2 {
    grid-gap: 0.5rem;
  }

  .grid-gap-fullhd-3 {
    grid-gap: 0.75rem;
  }

  .grid-gap-fullhd-4 {
    grid-gap: 1rem;
  }

  .grid-gap-fullhd-5 {
    grid-gap: 1.25rem;
  }

  .grid-row-fullhd-1 {
    grid-row: span 1;
  }

  .grid-row-fullhd-2 {
    grid-row: span 2;
  }

  .grid-row-fullhd-3 {
    grid-row: span 3;
  }

  .grid-row-fullhd-4 {
    grid-row: span 4;
  }

  .grid-row-fullhd-5 {
    grid-row: span 5;
  }

  .grid-row-fullhd-6 {
    grid-row: span 6;
  }

  .grid-row-fullhd-7 {
    grid-row: span 7;
  }

  .grid-row-fullhd-8 {
    grid-row: span 8;
  }

  .grid-row-fullhd-9 {
    grid-row: span 9;
  }

  .grid-row-fullhd-10 {
    grid-row: span 10;
  }

  .grid-row-fullhd-11 {
    grid-row: span 11;
  }

  .grid-row-fullhd-12 {
    grid-row: span 12;
  }
}
/* Конец раздела: grid сетка. */